<div class="row m-t-md">
    <div class="col-md-12">
        <div class="row mailbox-header">
            <div class="col-md-2">
                <a href="#" class="btn btn-success btn-block">Nouveau message</a>
            </div>
            <div class="col-md-6">
                <h2>Inbox</h2>
            </div>
            <div class="col-md-4">
                <form action="#" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control input-search" placeholder="Rechercher...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                    </div><!-- Input Group -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <ul class="list-unstyled mailbox-nav">
            <li class="active"><a href="#"><i class="fa fa-inbox"></i>Réception <span class="badge badge-success pull-right">4</span></a></li>
            <li><a href="#"><i class="fa fa-sign-out"></i>Envoyé</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i>Brouillon</a></li>
            <li><a href="#"><i class="fa fa-exclamation-circle"></i>Spam</a></li>
            <li><a href="#"><i class="fa fa-trash"></i>Corbeille</a></li>
        </ul>
    </div>
    <div class="col-md-10 animated fadeInRight">
        <div class="mailbox-content">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="1" class="hidden-xs">
                            <div class="checker"><span><input type="checkbox" class="check-mail-all"></span></div>
                        </th>
                        <th class="text-right" colspan="5">
                            <span class="text-muted m-r-sm">Affichage 20 of 346 </span>
                            <a class="btn btn-default m-r-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: none;">
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Report Spam"><i class="fa fa-exclamation-circle"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as Important"><i class="fa fa-star"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as Read"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: none;">
                                <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-folder"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Social</a></li>
                                        <li><a href="#">Forums</a></li>
                                        <li><a href="#">Updates</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Spam</a></li>
                                        <li><a href="#">Trash</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">New</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tags"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Work</a></li>
                                        <li><a href="#">Family</a></li>
                                        <li><a href="#">Social</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Primary</a></li>
                                        <li><a href="#">Promotions</a></li>
                                        <li><a href="#">Forums</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Google
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            21 mars
                        </td>
                    </tr>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            20 mars
                        </td>
                    </tr>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Adobe
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            18 mars
                        </td>
                    </tr>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Apple
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            14 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Microsoft
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            11 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Microsoft
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            11 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Microsoft
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Microsoft
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Microsoft
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Dropbox
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Dropbox
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Twitter
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Twitter
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star icon-state-warning"></i>
                        </td>
                        <td class="hidden-xs">
                            Twitter
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Twitter
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="unread">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                    <tr class="read">
                        <td class="hidden-xs">
                            <span><div class="checker"><span><input type="checkbox" class="checkbox-mail"></span></div></span>
                        </td>
                        <td class="hidden-xs">
                            <i class="fa fa-star"></i>
                        </td>
                        <td class="hidden-xs">
                            Themeforest
                        </td>
                        <td>
                            Nullam quis risus eget urna mollis ornare vel eu leo
                        </td>
                        <td></td>
                        <td>
                            6 mars
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>