<form ng-submit="sendNewPerson()" class="ng-pristine ng-valid">
    <div class="form-group">
        <label for="personLastName">Nom de famille</label>
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="personLastName" placeholder="Entrez le nom de famille" ng-model="createFormData.personLastName">
    </div>
    <div class="form-group">
        <label for="personFirstName">Prénom</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="personFirstName" placeholder="Entrez le prénom" ng-model="createFormData.projectDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="personEmail">E-mail</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="personEmail" placeholder="Entrez l'E-mail" ng-model="createFormData.projectDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="personPhone">Téléphone</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="personPhone" placeholder="Entrez le numéro de téléphone" ng-model="createFormData.projectDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="personCompany">Société</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="personCompany" placeholder="Entrez le nom de la société" ng-model="createFormData.projectDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="personAdditionnal">Info supplémentaire</label>
        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="personAdditionnal" placeholder="Description supplémentaire (Raison sociale de l'entreprise, siret..)" ng-model="createFormData.projectDescription"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enregister</button>
</form>