<div class="col-lg-4 col-md-6">
    <div class="panel panel-white">
        <div class="panel-heading">
            <div class="panel-control">
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" class="panel-reload"
                   data-original-title="Reload"><i class="icon-reload"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="inbox-widget slimscroll" style="overflow: hidden; width: auto; height: 100% !important;">
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/anna-harrison.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Sandra Smith</p>

                            <p class="inbox-item-text">Hey! I'm working on your...</p>

                            <p class="inbox-item-date">13:40 PM</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/alan-robbinson.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Christopher</p>

                            <p class="inbox-item-text">I've finished it! See you so...</p>

                            <p class="inbox-item-date">13:34 PM</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/jane-wilson.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Amily Lee</p>

                            <p class="inbox-item-text">This theme is awesome!</p>

                            <p class="inbox-item-date">13:17 PM</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/john-woken.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Nick Doe</p>

                            <p class="inbox-item-text">Nice to meet you</p>

                            <p class="inbox-item-date">12:20 PM</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/margaret-black.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Sandra Smith</p>

                            <p class="inbox-item-text">Hey! I'm working on your...</p>

                            <p class="inbox-item-date">10:15 AM</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="/mockup/rounded-avatar/jane-wilson.jpg" class="img-circle" alt="">
                            </div>
                            <p class="inbox-item-author">Amily Lee</p>

                            <p class="inbox-item-text">This theme is awesome!</p>

                            <p class="inbox-item-date">9:56 AM</p>
                        </div>
                    </a>
                </div>
                <div class="slimScrollBar"
                     style="width: 7px; position: absolute; top: 42px; opacity: 0.3; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 298.923px; background: rgb(204, 204, 204);"></div>
                <div class="slimScrollRail"
                     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 0px; background: rgb(51, 51, 51);"></div>
            </div>
        </div>
    </div>
</div>
</div>