<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Tiers</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Tiers</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <button
                        type="button"
                        class="{{tab.class}}"
                        style="margin-left: 4px"
                        ng-repeat="tab in tabs"
                        ng-class="{active:isActiveTab(tab.url)}"
                        ng-click="onClickTab(tab)"><i class="{{tab.icon}}"></i>{{tab.title}}<span class='badge badge-success pull-right'>{{tab.badge}}</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">{{currentTabTitle}}</h4>
                </div>
                <div class="panel-body">
                    <div ng-include="currentTab"></div>
                </div>
            </div>
        </div>
    </div>
</div>