<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <!--<h3>{{user.firstName}} {{user.lastName}} </h3>-->
        <h3>Mon Compte</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Mon Compte</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="row animated fadeInRight">

            <div class="col-md-12">
                <div class="header">
                    <a class="btn btn-edit" href="javascript:void(0)" ng-click="linkActive='personnal'" ng-class="{'link-inactive':linkActive!=='personnal'}" data-target="#personnal" data-toggle="tab">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;Informations Personnelles
                    </a>
    
                    <a class="btn btn-edit" href="javascript:void(0)" ng-click="linkActive='company'" ng-class="{'link-inactive':linkActive!=='company'}" data-target="#company" data-toggle="tab"
                       style="margin-right: auto;">
                        <i class="fa fa-building"></i>&nbsp;&nbsp;Informations Soci&eacute;t&eacute;
                    </a>
                </div>

                <div class="tabs-container">

                    <!-- <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="" data-target="#personnal" data-toggle="tab"> <i class="fa fa-user"></i>&nbsp; Informations Personnelles</a></li>
                        <li><a href="" data-target="#company" data-toggle="tab"><i class="fa fa-building"></i>&nbsp;Informations Soci&eacute;t&eacute;</a></li>
                    </ul> -->

                    <div class="tab-content" style="border: transparent; padding: 0;">

                        <div class="tab-pane animated fadeInRight active" id="personnal">

                            <br/>

                            <div style="margin-bottom: 50px; margin-left: 20px;">

                                <div class="account-image">
                                    <a href="javascript:void(0);">
                                        <img type="file"
                                             ngf-select="uploadFiles('u' + user.userID + '.jpg', 'avatars', $file, $invalidFiles)"
                                             ngf-pattern="'image/*'"
                                             accept="image/*"
                                             ngf-max-size="200KB"
                                             ng-src="{{user.avatar}}"
                                             class="img-circle circle-border"
                                             alt="profil"
                                             popover-trigger="'mouseenter'" popover-placement="top-left" uib-popover="Taille max. autotris&eacute;e : 200KB">
                                    </a>
                                </div>

                                <div class="account-info">
                                    <h2>{{user.firstName}} {{user.lastName}} </h2>
                                    <h4 class="text-capitalize">{{user.role | lowercase}}</h4>
                                </div>
                            </div>

                            <div class="account-panel">

                                <div class="panel panel-white">

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-condensed  table-hover account-table">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Nom</strong></td>
                                                        <td><span class="lastName" id="lastname" data-pk="{{user.userID}}">{{user.lastName}}</span></td>
                                                        <td><a id="edit-lastName" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Pr&eacute;nom</strong></td>
                                                        <td><span class="firstName" id="firstname" data-pk="{{user.userID}}">{{user.firstName}}</span></td>
                                                        <td><a id="edit-firstName" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a></td>

                                                    </tr>
                                                    <tr>
                                                        <td><strong>T&eacute;l&eacute;phone</strong></td>
                                                        <td><span class="phoneNumber" id="phoneNumber" data-pk="{{user.userID}}">{{user.phoneNumber}}</span></td>
                                                        <td><a id="edit-phoneNumber" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Email</strong></td>
                                                        <td><span class="email" id="email" data-pk="{{user.userID}}" type="email">{{user.email}}</span></td>
                                                        <td><a id="edit-email" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane animated fadeInRight" id="company">

                            <br/>

                            <div style="margin-bottom: 50px; margin-left: 20px;">

                                <div class="account-logo">
                                    <a href="javascript:void(0);">
                                        <img type="file"
                                             ngf-select="uploadFiles('u' + user.userID + '_' + company.companyID +  '.jpg' , 'logos', $file, $invalidFiles)"
                                             ngf-pattern="'image/*'"
                                             accept="image/*"
                                             ngf-max-size="200KB"
                                             class="img-circle circle-border"
                                             ng-src="{{company.logo}}"
                                             alt="logo"
                                             popover-trigger="'mouseenter'" popover-placement="top-left" uib-popover="Taille max. autotris&eacute;e : 200KB">
                                    </a>
                                </div>

                                <div class="account-info">
                                    <h2>{{company.name}} </h2>
                                    <h2 ng-if="!company.name">&nbsp;</h2>
                                    <br />
                                </div>

                            </div>

                            <div class="account-panel">
                                <div class="panel panel-white">

                                    <!--<div class="panel-heading">
                                        <div class="panel-title"><i class="fa fa-building"></i>&nbsp;Informations Soci&eacute;t&eacute;</div>
                                    </div>-->

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-hover account-table">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Nom</strong></td>
                                                        <td><span class="name" id="name" data-pk="{{company.companyID}}">{{company.name}}</span></td>
                                                        <td><a id="edit-name" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Raison sociale</strong></td>
                                                        <td><span class="socialReason" id="informations.socialReason" data-pk="{{company.companyID}}">{{company.informations.socialReason}}</span></td>
                                                        <td><a id="edit-socialReason" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Forme juridique</strong></td>
                                                        <td><span class="legalForm" id="informations.legalForm" data-pk="{{company.companyID}}">{{company.informations.legalForm}}</span></td>
                                                        <td><a id="edit-legalForm" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Siret</strong></td>
                                                        <td><span class="siret" id="informations.siret" data-pk="{{company.companyID}}">{{company.informations.siret}}</span></td>
                                                        <td><a id="edit-siret" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>APE</strong></td>
                                                        <td><span class="ape" id="informations.ape" data-pk="{{company.companyID}}">{{company.informations.ape}}</span></td>
                                                        <td><a id="edit-ape" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Num&eacute;ro TVA</strong></td>
                                                        <td><span class="taxNumber" id="informations.taxNumber" data-pk="{{company.companyID}}">{{company.informations.taxNumber}}</span></td>
                                                        <td><a id="edit-taxNumber" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Police d&rsquo;assurance</strong></td>
                                                        <td><span class="insurance" id="informations.insurance" data-pk="{{company.companyID}}">{{company.informations.insurance}}</span></td>
                                                        <td><a id="edit-insurance" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>T&eacute;l&eacute;phone</strong></td>
                                                        <td><span class="cPhoneNumber" id="phoneNumber" data-pk="{{company.companyID}}">{{company.phoneNumber}}</span></td>
                                                        <td><a id="edit-cPhoneNumber" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Adresse</strong></td>
                                                        <td><span class="cStreet" id="address.street" data-pk="{{company.companyID}}">{{company.address.street}}</span></td>
                                                        <td><a id="edit-cStreet" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Compl&eacute;ment d'adresse</strong></td>
                                                        <td><span class="cAdditional" id="address.additional" data-pk="{{company.companyID}}">{{company.address.additional}}</span></td>
                                                        <td><a id="edit-cAdditional" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Code postal</strong></td>
                                                        <td><span class="cZip" id="address.zip" data-pk="{{company.companyID}}">{{company.address.zip}}</span></td>
                                                        <td><a id="edit-cZip" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Ville</strong></td>
                                                        <td><span class="cCity" id="address.city" data-pk="{{company.companyID}}">{{company.address.city}}</span></td>
                                                        <td><a id="edit-cCity" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Pays</strong></td>
                                                        <td><span class="cCountry" id="address.country" data-pk="{{company.companyID}}">{{company.address.country}}</span></td>
                                                        <td><a id="edit-cCountry" href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
