<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Utilisateurs</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Utilisateurs</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="row animated fadeInRight">
            <div class="col-md-12">
                <br />

                <div class="input-group col-md-3 col-sm-3" style="margin-left: 20px; margin-bottom: 20px;">
                    <input type="search" class="form-control" ng-model="searchText" ng-change="searchTable()" placeholder="Rechercher un utilisateur" aria-controls="dtUsers">
                    <!-- <span class="input-group-btn">
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </span> -->
                </div>

                <div class="panel panel-white">
                    <div class="panel-body ng-dt">

                        <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                        <div class="table-responsive" ng-show="!showLoading">

                            <table id="dtUsers"
                                    class="table table-bordered table-striped hover"
                                    datatable="ng"
                                    dt-options="dtOptions"
                                    dt-columns="dtColumns"
                                    dt-instance="dtInstance"
                                    cellspacing="0"
                                    width="100">
                                <thead>
                                    <tr>
                                        <th ng-repeat="header in tableUsersHeaders">{{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in tableUsers track by user.userID">
                                        <td class="firstName">
                                            {{user.firstname}}
                                        </td>
                                        <td class="lastName">
                                            {{user.lastname}}
                                        </td>
                                        <td class="email">
                                            {{user.email}}
                                        </td>
                                        <td class="phoneNumber">
                                            {{user.phoneNumber}}
                                        </td>
                                        <td class="registerDate">
                                            {{ user.registerDate | date:"dd MMMM yyyy" : "UTC" }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>