<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Agenda</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Agenda</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/vendor/fullcalendar/lib/moment.min.js"></script>
<script src="../../js/vendor/fullcalendar/fullcalendar.min.js"></script>
<script src="../../js/vendor/fullcalendar/lang-all.js"></script>
<link href="../../js/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
