<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Cloud</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home">&nbsp;</i><a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Cloud</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form action="/file-upload" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- Row -->

    </div>
</div>
<link href="scripts/vendor/dropzone/dropzone.min.css" rel="stylesheet" type="text/css"/>

<script src="scripts/vendor/dropzone/dropzone.min.js"></script>
