<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Tableau de bord</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Tableau de bord</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row animated fadeInRight dashboard-tasks">

            <div class="col-lg-4 col-md-6">
                <!--<a ui-sref="app.project">-->
                <div class="panel info-box panel-white">
                    <div class="panel-body panel-body-project" style="border-top-color: #f25656!important;">
                        <div class="info-box-stats">
                            <p class="counter">{{aggregateData.AVANT_PROJET.count}}</p>
                            <span class="info-box-title">Projet(s).</span>
                        </div>
                        <span class="label label-danger pull-right">Avant Projet</span>
                        <!--<div class="info-box-icon">
                            <i class="fa fa-folder"></i>
                        </div>-->
                    </div>
                </div>
                <!--</a>-->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body panel-body-project" style="border-top-color: #22BAA0!important;">
                        <div class="info-box-stats">
                            <p class="counter">{{aggregateData.EN_COURS.count}}</p>
                            <span class="info-box-title">Projet(s).</span>
                        </div>
                        <span class="label label-success pull-right">En cours</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body panel-body-project" style="border-top-color: #1C84C6!important;">
                        <div class="info-box-stats">
                            <p class="counter">{{aggregateData.ARCHIVE.count}}</p>
                            <span class="info-box-title">Projet(s).</span>
                        </div>
                        <span class="label label-success-2 pull-right">Archivé(s)</span>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-3 col-md-6">
                <a ui-sref="{{1!=1 ? 'app.cloud' : '.'}}" class="disabled">
                    <div class="panel info-box panel-white">
                        <div class="panel-body panel-body-cloud">
                            <div class="info-box-stats">
                                <p class="counter">0</p>
                                <span class="info-box-title">Fichiers dans le cloud.</span>
                            </div>
                            <span class="info-box-icon">
                                <i class="fa fa-cloud"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>-->

        </div>

        <!--<div class="row animated fadeInRight dashboard-tasks">

            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body panel-body-stats">
                        <div class="info-box-stats">
                            <span class="info-box-title" style="color:#374051; font-weight:bold">Pourcentage</span>
                            <p>100</p>
                        </div>
                        <div id="sparkline6" class="text-center" style="margin-top: 70px;">
                            <canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body panel-body-stats">
                        <div class="info-box-stats">
                            <span class="info-box-title" style="color:#374051; font-weight:bold">Pourcentage</span>
                            <p>100</p>
                        </div>
                        <div id="sparkline7" class="text-center" style="margin-top: 70px;">
                            <canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->

        <div class="panel panel-white animated fadeInRight">
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-4">
                        <h2>20 derniers projets créés</h2>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectType" style="font-size:14px; font-weight:700!important;">Type du projet</label>
                            <ui-select ng-model="filterByProjectType.selected">
                                <ui-select-match allow-clear="true" placeholder="Filtrer par">{{$select.selected.replace('_', ' ')}}</ui-select-match>
                                <ui-select-choices repeat="filter in filterByProjectType">
                                    {{ filter.replace('_', ' ') }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="projectStatus" style="font-size:14px; font-weight:700!important;">Statut du projet</label>
                            <ui-select ng-model="filterByProjectStatus.selected">
                                <ui-select-match allow-clear="true" placeholder="Filtrer par">{{$select.selected.replace('_', ' ')}}</ui-select-match>
                                <ui-select-choices repeat="filter in filterByProjectStatus">
                                    {{ filter.replace('_', ' ')}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                <div class="table-responsive">

                    <table class="table table-striped projects-table">

                        <tbody>
                            <tr ng-repeat="project in projects | limitTo:-20 | orderBy:'projectCreationDate':true
                                           | filter: {projectType: filterByProjectType.selected, projectStatus: filterByProjectStatus.selected, isArchived: false} track by project.projectID">
                                <td width="20%">
                                    <a ui-sref="app.project-detail({detail: project.projectID})" style="text-decoration: none;"><strong>{{project.projectName}}</strong></a>
                                </td>
                                <td>
                                    {{project.projectCreationDate | date: 'dd MMM yyyy'}}
                                </td>
                                <td>
                                    {{project.projectType}}
                                </td>
                                <td>
                                    {{project.projectDescription}}
                                </td>
                                <td>
                                    {{project.projectStatus.replace('_', ' ')}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>


    <script>
        $(document).ready(function () {

            var sparklineCharts = function () {
                $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                    type: 'line',
                    width: '100%',
                    height: '60',
                    lineColor: '#1ab394',
                    fillColor: "#ffffff"
                });

                $("#sparkline2").sparkline([24, 43, 43, 55, 44, 62, 44, 72], {
                    type: 'line',
                    width: '100%',
                    height: '60',
                    lineColor: '#1ab394',
                    fillColor: "#ffffff"
                });

                $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
                    type: 'line',
                    width: '100%',
                    height: '60',
                    lineColor: '#ed5565',
                    fillColor: "#ffffff"
                });

                $("#sparkline4").sparkline([24, 43, 33, 55, 64, 72, 44, 22], {
                    type: 'line',
                    width: '100%',
                    height: '60',
                    lineColor: '#ed5565',
                    fillColor: "#ffffff"
                });

                $("#sparkline5").sparkline([1, 4], {
                    type: 'pie',
                    height: '140',
                    sliceColors: ['#1ab394', '#F5F5F5']
                });

                $("#sparkline6").sparkline([7, 3], {
                    type: 'pie',
                    height: '140',
                    sliceColors: ['#1ab394', '#F5F5F5']
                });

                $("#sparkline7").sparkline([2, 2], {
                    type: 'pie',
                    height: '140',
                    sliceColors: ['#ed5565', '#F5F5F5']
                });

                $("#sparkline8").sparkline([2, 3], {
                    type: 'pie',
                    height: '140',
                    sliceColors: ['#ed5565', '#F5F5F5']
                });
            };

            var sparkResize;

            $(window).resize(function (e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();
        });
    </script>

</div>