<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>{{projectName}}</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">

                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li><a ui-sref="app.project">Projets</a></li>
                <li><a ui-sref="app.project-detail({detail: projectID})">{{projectName}}</a></li>
                <li class="active">Métré</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="row animated fadeInRight">
            <div class="col-md-12">
                <div class="header">
                    <h2><strong>Métré</strong></h2>
                    <!-- <button class="btn btn-success btn-addon" ui-sref="app.project-detail({detail: projectID})">
                        <i class="fa fa-arrow-circle-left"></i>
                        {{projectName}}
                    </button> -->

                    <div class="toolbar">
                        <!-- <button type="button" class="btn btn-default btn-addon" ui-sref="app.project-detail-metric-form({detail: projectID})" ng-show="projectType=='NEUF'&&showButtonCaracteristics">
                            <i class="fa fa-pencil-square-o"></i>
                            Caractéristiques, dimensions
                        </button>

                        <button type="button" class="btn btn-default btn-addon" ui-sref="app.project-detail-metric-carpenty({detail: projectID})" ng-show="projectType!='VIERGE'">
                            <i class="fa fa-pencil-square-o"></i>
                            Menuiseries extérieures
                        </button>

                        <button type="button" class="btn btn-default btn-addon" ui-sref="app.project-detail-quote({detail: projectID})">
                            <i class="fa fa-file-pdf-o"></i>
                            Devis estimatif
                        </button> -->
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- &nbsp;Plus&nbsp;&nbsp;<i class="fa fa-angle-down"></i> -->
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                        <circle cx="5" cy="12" r="2"></circle>
                                        <circle cx="12" cy="12" r="2"></circle>
                                        <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="javascript:void(0);" ui-sref="app.project-detail-metric-form({detail: projectID})" ng-show="projectType=='NEUF'&&showButtonCaracteristics">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Caractéristiques, dimensions
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ui-sref="app.project-detail-metric-carpenty({detail: projectID})" ng-show="projectType!='VIERGE'">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Menuiseries extérieures
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ui-sref="app.project-detail-quote({detail: projectID})">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Devis estimatif
                                </a>
                            </li>
                            <!-- <li role="separator" class="divider"></li> -->
                            <li>
                                <a href="javascript:void(0);" ng-click="createLot()">
                                    <i class="fa fa-plus"></i>
                                    Cr&eacute;er un lot
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="panel panel-white">
                    <div class="panel-body">

                        <button ng-click="collapse()" class="btn btn-default btn-addon btn-xs">
                            <span ng-show="!isCollapsed"><i class="fa fa-angle-double-right"></i><strong>Tout d&eacute;velopper</strong></span>
                            <span ng-show="isCollapsed"><i ng-show="isCollapsed" class="fa fa-angle-double-down"></i><strong>Tout r&eacute;duire</strong></span>
                        </button>
                        <br />
                        <br />

                        <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                        <div class="table-responsive">

                            <!--ui-sortable="sortableOptions" ng-model="tableMetrics.tables"-->
                            <div class="panel-group metrics-table">
                                <div class="panel panel-default" ng-repeat="item in tableMetrics track by item.lotId">

                                    <div class="panel-heading">
                                        <h3 class="panel-title lot">

                                            <input type="checkbox" id="{{item.lotId}}" ng-checked="item.selected" ng-click="change(item.lotId)">
                                            <span ng-if="item.isCustom" class="custom" data-pk="{{item.lotId}}">{{item.lotName | uppercase}}</span>
                                            <span ng-if="!item.isCustom">{{item.lotName | uppercase}}</span> :&nbsp;&nbsp;
                                            <span class="total">{{item.lotTotalHT | currency }} H.T</span>
                                            &nbsp;-&nbsp;
                                            <span class="total">{{item.lotTotalTTC | currency }} T.T.C</span>

                                            <a data-toggle="collapse" data-target="#collapse{{item.lotId}}" href="javascript:void(0);"></a>
                                        </h3>

                                        <div class="tools" ng-show="item.lotId != 8">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li ng-show="item.isCustom">
                                                    <a ng-click="deleteLot(item.lotId, item.lotName)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                        Supprimer le lot
                                                    </a>
                                                </li>
                                                <li>
                                                    <a ng-click="createDesignation(item.lotId)">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        Créer une désignation
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="panel-collapse collapse" id="collapse{{item.lotId}}">
                                        <div class="panel-body">
                                            <table class="table table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th ng-repeat="header in headers">{{header}}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(key, cell) in item.data track by key">
                                                        <td colspan="8" ng-if="cell.isSeparator" style="font-size:16px;text-align:center;color:#20A790;background-color:#F5F5F5;">
                                                            <strong>{{cell.name}}</strong>
                                                        </td>
                                                        <td ng-if="!cell.isSeparator" class="designation">
                                                            <a ng-if="cell.isCustom && item.lotId != 8" class="custom" href="javascript:void(0);" data-pk="{{key}}">
                                                                {{cell.name}}
                                                            </a>
                                                            <a ng-if="!cell.isCustom && item.lotId != 8" href="javascript:void(0);" data-pk="{{key}}">
                                                                {{cell.name}}
                                                            </a>
                                                            <span ng-if="item.lotId == 8">
                                                                {{cell.name}}
                                                            </span>
                                                        </td>
                                                        <td ng-if="!cell.isSeparator" class="qte">
                                                            <a ng-if="cell.isEditable && item.lotId != 8" href="javascript:void(0);" data-pk="{{key}}">
                                                                {{cell.qte | number:2 }}
                                                            </a>
                                                            <span ng-if="!cell.isEditable || item.lotId == 8">
                                                                {{cell.qte | number:2 }}
                                                            </span>
                                                        </td>
                                                        <td ng-if="!cell.isCustom && !cell.isSeparator" class="unit">{{cell.unit}}</td>
                                                        <td ng-if="cell.isCustom && !cell.isSeparator" class="unit">
                                                            <a href="javascript:void(0);" data-pk="{{key}}">
                                                                {{cell.unit}}
                                                            </a>
                                                        </td>
                                                        <td ng-if="!cell.isSeparator" class="pricePerUnit">
                                                            <a href="javascript:void(0);" data-pk="{{key}}">{{cell.pricePerUnit | number:2 }}</a>
                                                        </td>
                                                        <td ng-if="!cell.isSeparator" class="vat">
                                                            <a href="javascript:void(0);" data-pk="{{key}}" data-value="{{cell.vat}}"></a>
                                                        </td>
                                                        <td ng-if="!cell.isSeparator" class="totalHT">{{cell.totalHT | number:2 }}</td>
                                                        <td ng-if="!cell.isSeparator" class="totalTTC">{{cell.totalTTC | number:2 }}</td>
                                                        <td ng-if="!cell.isSeparator" width="1%">
                                                            <a ng-show="cell.isCustom" href="javascript:void(0);" ng-click="deleteDesignation(item.lotId, key)" style="color:inherit">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Sous total</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><strong>{{item.lotTotalHT | number:2 }} €</strong></td>
                                                        <td><strong>{{item.lotTotalTTC | number:2 }} €</strong></td>
                                                        <td width="1%"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="panel-footer text-right">
                                            <a data-toggle="collapse" data-target="#collapse{{item.lotId}}" href="javascript:void(0);">
                                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive metrics-footer" ng-show="!showLoading" >
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <!-- <td style="width: 60%"></td> -->
                                        <td style="width: 80%;"><strong>Total H.T :</strong></td>
                                        <td><strong class="total">{{totalHT | number:2 }} €</strong></td>
                                    </tr>
                                    <tr>
                                        <!-- <td style="width: 60%;"></td> -->
                                        <td style="width: 85%;"><strong>Total T.T.C :</strong></td>
                                        <td><strong class="total">{{totalTTC | number:2 }} €</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        //var panelList = $("#draggablePanelList");

        //panelList.sortable({
        //    handle: ".panel-heading",
        //    update: function (event, ui) {

        //        //var r = $("#sortable").sortable("serialize");
        //        //console.log(" - " + r);

        //        $(".panel", panelList).each(function (index, elem) {
        //            var $listItem = $(elem),
        //                newIndex = $listItem.index();

        //            //console.log("newIndex : " + newIndex + " - " + r);

        //            // Persist the new indices.
        //        });
        //    }
        //});
    });
</script>