﻿<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>{{projectName}}</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">

                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li><a ui-sref="app.project">Projets</a></li>
                <li><a href="app/project/{{projectID}}">{{projectName}}</a></li>
                <li><a href="app/project/{{projectID}}/metric">Métré</a></li>
                <li class="active">Menuiseries extérieures</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="row animated fadeInRight">
            <div class="col-md-12 col-sm-12">
                <div class="header">
                    <h2><strong>Menuiseries extérieures</strong></h2>
                        <!-- <button class="btn btn-success btn-addon" ui-sref="app.project-detail-metric({detail: projectID})">
                            <i class="fa fa-arrow-circle-left"></i>
                            Métrés
                        </button> -->

                    <div class="toolbar">
                        <button class="btn btn-default btn-addon" ng-click="createDesignation(8)">
                            <i class="fa fa-plus"></i>
                            Créer une désignation
                        </button>
                    </div>
                </div>
                <div class="panel panel-white">
                    <div class="panel-body carpenty-table ng-dt">

                        <div class="table-responsive">

                            <table class="table table-bordered hover" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" cellspacing="0" width="100">

                                <thead>
                                    <tr>
                                        <th ng-repeat="header in tableHeaders">{{header}}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="(key, cell) in tableCarpenty">
                                        <td></td>
                                        <td class="designation">
                                            <a href="javascript:void(0);" data-pk="{{key}}">
                                                {{cell.name}}
                                            </a>
                                        </td>
                                        <td class="width">
                                            <a id="width" href="javascript:void(0);" data-pk="{{key
                                                }}">
                                                {{cell.largeur | number:2}}
                                            </a>
                                        </td>
                                        <td class="height">
                                            <a id="height" href="javascript:void(0);" data-pk="{{key}} ">
                                                {{cell.hauteur | number:2}}
                                            </a>
                                        </td>
                                        <td class="Q">
                                            <a id="Q" href="javascript:void(0);" data-pk="{{key}} ">
                                                {{cell.Q | number:2}}
                                            </a>
                                        </td>
                                        <td class="unit">{{cell.unit | uppercase}}</td>
                                        <td class="pricePerUnit">
                                            <a id="pricePerUnit" href="javascript:void(0);" data-pk="{{key}}">
                                                {{cell.pricePerUnit | number:2}}
                                            </a>
                                        </td>
                                        <td>{{key}}</td>
                                        <td>{{cell.isCustom}}</td>
                                        <td class="trash"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
