<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Projets</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Projets</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="row animated fadeInRight">
            <div class="col-md-12">

                <!-- <button type="button" class="btn btn-edit btn-addon m-b-sm" ng-click="createProjectButton()">
                    <i class="fa fa-plus"></i> Créer un projet
                </button> -->

                <div class="header">
                    <h2><strong>&nbsp;</strong></h2>

                    <div class="toolbar">
                        <button type="button" class="btn btn-default btn-addon" ng-click="createProject()">
                            <i class="fa fa-plus"></i>
                            Créer un projet
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row animated fadeInRight">

            <div class="col-md-12">

                <div class="tabs-container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="" data-target="#avant_projet" data-toggle="tab">
                                <i class="fa fa-folder"></i>&nbsp;AVANT PROJET
                            </a>
                        </li>
                        <li>
                            <a href="" data-target="#en_cours" data-toggle="tab">
                                <i class="fa fa-folder-open"></i>&nbsp;EN COURS
                            </a>
                        </li>
                        <li>
                            <a href="" data-target="#archive" data-toggle="tab">
                                <i class="fa fa-archive"></i>&nbsp;ARCHIVE
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="padding-left: 0px; padding-right: 0px;">

                        <!------ AVANT PROJET ------>
                        <div class="tab-pane animated fadeInRight active" id="avant_projet">

                            <div class="panel-body">

                                <div class="col-md-6" ng-show="aggregateData.AVANT_PROJET.count == 0" style="margin-bottom: 10px;">
                                    <h4>Vous n'avez aucun projet en avant projet actuellement. Créez-en un.</h4>
                                </div>

                                <div class="col-lg-4 col-md-6 project-panel"
                                     ng-repeat="project in projects | orderBy:'projectCreationDate':true
                                                | filter: {projectStatus: 'AVANT_PROJET', isArchived: false} track by project.projectID">

                                    <div class="panel panel-white" id="{{project.projectID}}">
                                        <div class="panel-heading" ng-class="{'border-top-info':project.projectType === 'NEUF','border-top-primary':project.projectType === 'RENOVATION', 'border-top-danger':project.projectType === 'VIERGE'}">
                                            <div class="panel-title">
                                                <i class="fa fa-folder"></i>&nbsp;&nbsp;{{project.projectName}}
                                            </div>

                                            <div class="tools">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a ng-click="editProject(project.projectID, project.projectName, project.projectDescription, project.projectStatus)">
                                                            <i class="fa fa-pencil-square-o"></i> Modifier
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="cloneProject(project.projectID, project.projectName)"><i class="fa fa-clone"></i> Dupliquer</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="deleteProject(project.projectID, project.projectName)"><i class="fa fa-trash-o"></i> Supprimer</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="archiveProject(project.projectID, project.projectName)"><i class="fa fa-archive"></i> Archiver</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="panel-body">
                                            <span class="label label-info pull-right" ng-show="project.projectType === 'NEUF'">{{project.projectType}}</span>
                                            <span class="label label-primary pull-right" ng-show="project.projectType === 'RENOVATION'">{{project.projectType}}</span>
                                            <span class="label label-danger pull-right" ng-show="project.projectType === 'VIERGE'">{{project.projectType}}</span>
                                            <p>{{ project.projectDescription }}</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="project-label">Client</div>
                                                    <small>{{project.customer.firstName + " " + project.customer.lastName}}</small>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="project-label">Date de creation</div>
                                                    <small>{{project.projectCreationDate | date: 'dd MMM yyyy'}}</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer">
                                            <a class="btn btn-xs btn-default" ui-sref="app.project-detail({detail: project.projectID})">
                                                Entrer <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-------- EN COURS -------->
                        <div class="tab-pane animated fadeInRight" id="en_cours">

                            <div class="panel-body">

                                <div class="col-md-6" ng-show="aggregateData.EN_COURS.count == 0" style="margin-bottom: 10px;">
                                    <h4>Vous n'avez aucun projet en cours actuellement.</h4>
                                </div>

                                <div class="col-lg-4 col-md-6 project-panel"
                                     ng-repeat="project in projects | orderBy:'projectCreationDate':true
                                                | filter: {projectStatus: 'EN_COURS', isArchived: false} track by project.projectID">

                                    <div class="panel panel-white" id="{{project.projectID}}">
                                        <div class="panel-heading" ng-class="{'border-top-info':project.projectType === 'NEUF','border-top-primary':project.projectType === 'RENOVATION', 'border-top-danger':project.projectType === 'VIERGE'}">
                                            <div class="panel-title">
                                                <i class="fa fa-folder-open"></i>&nbsp;&nbsp;{{project.projectName}}
                                            </div>

                                            <div class="tools">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a ng-click="editProject(project.projectID, project.projectName, project.projectDescription, project.projectStatus)">
                                                            <i class="fa fa-pencil-square-o"></i> Modifier
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="cloneProject(project.projectID, project.projectName)"><i class="fa fa-clone"></i> Dupliquer</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="deleteProject(project.projectID, project.projectName)"><i class="fa fa-trash-o"></i> Supprimer</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="archiveProject(project.projectID, project.projectName)"><i class="fa fa-archive"></i> Archiver</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <span class="label label-info pull-right" ng-show="project.projectType === 'NEUF'">{{project.projectType}}</span>
                                            <span class="label label-primary pull-right" ng-show="project.projectType === 'RENOVATION'">{{project.projectType}}</span>
                                            <span class="label label-danger pull-right" ng-show="project.projectType === 'VIERGE'">{{project.projectType}}</span>
                                            <p>{{ project.projectDescription }}</p>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="project-label">Client</div>
                                                    <small>{{project.customer.firstName + " " + project.customer.lastName}}</small>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="project-label">Date de creation</div>
                                                    <small>{{project.projectCreationDate | date: 'dd MMM yyyy'}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="btn btn-xs btn-default" ui-sref="app.project-detail({detail: project.projectID})">
                                                Entrer <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--------- ARCHIVE -------->
                        <div class="tab-pane animated fadeInRight" id="archive">

                            <div class="panel-body">

                                <div class="col-md-6" ng-show="aggregateData.ARCHIVE.count == 0" style="margin-bottom: 10px;">
                                    <h4>Vous n'avez aucun projet archivé actuellement.</h4>
                                </div>

                                <div class="input-group col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8" ng-show="aggregateData.ARCHIVE.count > 0">
                                    <input type="search" class="form-control" ng-model="searchText" placeholder="Rechercher un projet">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success">
                                            <i class="fa fa-search"></i> Rechercher
                                        </button>
                                    </span>
                                </div>

                                <div class="table-responsive" style="margin-top: 15px;" ng-show="aggregateData.ARCHIVE.count > 0">

                                    <table class="table table-striped projects-table">

                                        <thead>
                                            <tr>
                                                <th width="25%">NOM</th>
                                                <th>DATE CRÉATION</th>
                                                <th>TYPE</th>
                                                <th>DESCRIPTION</th>
                                                <th>STATUT</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="project in projects | orderBy:'projectCreationDate':true
                                                           | filter: {projectName: searchText, isArchived : true } track by project.projectID">
                                                <td>
                                                    <strong>{{project.projectName}}</strong>
                                                </td>
                                                <td>
                                                    {{project.projectCreationDate | date: 'dd MMM yyyy'}}
                                                </td>
                                                <td>
                                                    {{project.projectType}}
                                                </td>
                                                <td>
                                                    {{project.projectDescription}}
                                                </td>
                                                <td>
                                                    {{project.projectStatus.replace('_', ' ')}}
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" ng-click="unArchiveProject(project.projectID, project.projectName)">
                                                        <i class="fa fa-upload"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //$("#save-project").click(function () {
    //    $("#footer").animatescroll({
    //        scrollSpeed: 2000
    //    });
    //});

</script>