<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>{{projectName}}</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">

                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li><a ui-sref="app.project">Projets</a></li>
                <!--<li><a href="app/project/{{projectID}}">{{projectName}}</a></li>-->
                <li><a ui-sref="app.project-detail({detail: projectID})">{{projectName}}</a></li>
                <li class="active">Devis</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row animated fadeInRight">
            <div class="col-md-12">

                <!-- <button class="btn btn-success btn-addon" ui-sref="app.project-detail-metric({detail: projectID})">
                            <i class="fa fa-arrow-circle-left"></i>
                            Métrés
                    </button> -->

                <div class="header">
                    <h2><strong>Devis</strong></h2>
                    <div class="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- &nbsp;Plus&nbsp;&nbsp;<i class="fa fa-angle-down"></i> -->
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                        <circle cx="5" cy="12" r="2"></circle>
                                        <circle cx="12" cy="12" r="2"></circle>
                                        <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <!-- <li role="separator" class="divider"></li> -->
                            <li>
                                <a href="javascript:void(0);" ng-click="downloadQuote()">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Télécharger (pdf)
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" disabled>
                                    <i class="fa fa-cloud"></i>
                                    Sauvegarder (cloud)
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" disabled>
                                    <i class="fa fa-envelope-o"></i>
                                    Envoyer à un tiers
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="panel panel-white">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-sm-4">
                                <img ng-src="{{company.logo}}" height="180" width="180" />
                            </div>

                            <div class="col-sm-4 text-left">
                                <strong class="quote-company">{{company.name | uppercase}}</strong>
                                <br />
                                <address>
                                    {{company.address.street}}
                                    <br ng-if="company.address.additional" />
                                    {{company.address.additional}}
                                    <br />
                                    {{company.address.zip + " " + company.address.city + ", " + company.address.country}}
                                    <br />
                                    <span ng-if="company.phoneNumber">
                                        <abbr title="Téléphone">Tel&nbsp;:</abbr>&nbsp;{{company.phoneNumber}}
                                    </span>
                                </address>
                                <span ng-if="company.informations.taxNumber">
                                    Numéro TVA&nbsp;:&nbsp; {{ company.informations.taxNumber }}
                                </span>
                                <br />
                                <span ng-if="company.informations.siret">
                                    Siret&nbsp;:&nbsp; {{ company.informations.siret }}
                                </span>
                                <br />
                                <span ng-if="company.informations.insurance">
                                    Police d'assurance &nbsp;:&nbsp; {{ company.informations.insurance }}
                                </span>
                            </div>

                            <div class="col-sm-4 text-right">
                                <p class="quote-project"><strong>{{projectName | uppercase}} - DEVIS ESTIMATIF</strong></p>
                                <!--<p class="quote-number"><strong>DEVIS ESTIMATIF No.<span class="quote-num"> DEV-0001-00 </span></strong></p>-->
                                <strong class="quote-client">
                                    <span ng-show="customer.socialReason">{{customer.socialReason +  " - " }}</span>
                                    <span>{{customer.firstName + " " + customer.lastName}}</span>
                                </strong>
                                <br />
                                <address ng-show="customer != null">
                                    {{customer.address.street}}
                                    <br />
                                    <span ng-show="customer.address.additional">
                                        {{customer.address.additional}}
                                        <br />
                                    </span>
                                    {{customer.address.zip + " " + customer.address.city + ", " + customer.address.country}}<br>
                                    <abbr title="Téléphone">Tel&nbsp;:</abbr>&nbsp;{{customer.phoneNumber}}
                                </address>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <span>
                                    <strong>Date&nbsp;:&nbsp;</strong> {{ now }}
                                </span><br />
                            </div>
                        </div>

                        <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                        <div class="table-responsive" ng-show="!showLoading">

                            <table class="table table-bordered quote-table">

                                <thead>
                                    <tr>
                                        <th>Désignation</th>
                                        <th ng-show="showQte">Quantité</th>
                                        <th>Unité</th>
                                        <th ng-show="showVat">TVA</th>
                                        <th ng-show="showTotalHT">Total HT</th>
                                        <th ng-show="showTotalTTC">Total TTC</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="item in tableMetrics">
                                    <tr>
                                        <td colspan="{{colspanLotName}}">
                                            <strong>{{item.lotName | uppercase}}</strong>
                                        </td>
                                    </tr>

                                    <tr ng-repeat="cell in item.data">
                                        <!--<td ng-if="cell.category"><strong>{{cell.category}}</strong>{{cell.name}}</td>-->
                                        <td class="designation">
                                            <span>{{cell.name}}</span>
                                        </td>
                                        <td ng-show="showQte">{{cell.qte | number:2 }}</td>
                                        <td>{{cell.unit | uppercase }}</td>
                                        <td ng-show="showVat">{{cell.vat }}%</td>
                                        <td ng-show="showTotalHT">{{cell.totalHT | number:2 }}</td>
                                        <td ng-show="showTotalTTC" class="totalTTC">{{cell.totalTTC | number:2 }}</td>
                                    </tr>

                                    <tr class="quote-in-total">
                                        <td colspan="{{colspanLotTotal}}"><strong>Sous total</strong></td>
                                        <td ng-show="showTotalHT"><strong>{{item.lotTotalHT | number:2 }} €</strong></td>
                                        <td ng-show="showTotalTTC"><strong>{{item.lotTotalTTC | number:2 }} €</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <table class="table quote-total" ng-show="!showLoading">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><strong>Total H.T : </strong></td>
                                    <td><strong class="total">{{totalHT | number:2 }} €</strong></td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td><strong>TVA {{tax | number:2 }}% :</strong></td>
                                    <td><strong class="total">{{totalHT * tax / 100 | currency:"€":2 }}</strong></td>
                                </tr> -->
                                <tr>
                                    <td>Attention ce devis estimatif est sous réserve de la réalisation d’une etude de sol</td>
                                    <td><strong>Total TTC : </strong></td>
                                    <td><strong class="total">{{totalTTC | number:2 }} €</strong></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- footer disclaimer-->
                        <div class="quote-footer" ng-show="!showLoading">
                            <p class="disclaimer" ng-bind-html="disclaimerText"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CONFIG BOX-->
    <div class="config">
        <div class="config-box">

            <div class="spin-icon">
                <i class="fa fa-cog"></i>
            </div>

            <div class="setttings">
                <div class="title">DEVIS</div>
                <div class="divider"></div>

                <div class="settings-item">
                    <span>Afficher quantité</span>
                    <div class="toggle">
                        <input id="toggle-qte" type="checkbox" data-toggle="toggle" checked>
                    </div>
                </div>
                <div class="settings-item">
                    <span>Afficher TVA</span>
                    <div class="toggle">
                        <input id="toggle-vat" type="checkbox" data-toggle="toggle" checked>
                    </div>
                </div>
                <div class="settings-item">
                    <span>Afficher Total HT</span>
                    <div class="toggle">
                        <input id="toggle-totalHT" type="checkbox" data-toggle="toggle" checked>
                    </div>
                </div>
                <div class="settings-item">
                    <span>Afficher Total TTC</span>
                    <div class="toggle">
                        <input id="toggle-totalTTC" type="checkbox" data-toggle="toggle" checked>
                    </div>
                </div>
                <!-- <div class="settings-item">
                    <span style="vertical-align: middle; line-height: 2em;">TVA (%)</span>
                    <div class="input-group input-group-sm" style="float: right; width: 65%;">
                        <input type="number" class="form-control" ng-model="tax" ng-keypress="calc($event)" step="0.01" decimal-only>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" ng-click="calc()">
                                <i ng-class="{'glyphicon glyphicon-ok' : !showLoader, 'fa fa-refresh fa-spin' : showLoader}"></i>
                            </button>
                        </span>
                    </div>
                </div> -->
                <div class="settings-item">
                    <div style="text-align:right;">
                        <button class="btn btn-success" type="button" ng-click="editDisclaimerText()">Mentions légales</button>
                    </div>
                    <!--<img src="../../images/gif/loader.gif" ng-show="showLoader" />-->
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(function () {

        $('#toggle-totalHT').bootstrapToggle(
            {
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                on: "oui",
                off: "non"
            });
        
        $('#toggle-vat').bootstrapToggle(
        {
            onstyle: "success",
            offstyle: "danger",
            size: "mini",
            on: "oui",
            off: "non"
        });

        $('#toggle-totalTTC').bootstrapToggle(
        {
            onstyle: "success",
            offstyle: "danger",
            size: "mini",
            on: "oui",
            off: "non"
        });

        $('#toggle-qte').bootstrapToggle(
            {
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                on: "oui",
                off: "non"
            });

        $('.spin-icon').click(function () {
            $(".config-box").toggleClass("show");
        });
    })
</script>
