﻿<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>{{projectName}}</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">

                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li><a ui-sref="app.project">Projets</a></li>
                <li><a href="app/project/{{projectID}}">{{projectName}}</a></li>
                <li class="active">Caractéristiques, dimensions</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="row animated fadeInRight">
            <div class="col-md-12 col-sm-12">
                <!-- <div class="panel panel-white" style="margin-bottom:10px;">
                    <div class="panel-body">
                        <button class="btn btn-success btn-addon" ui-sref="app.project-detail({detail: projectID})">
                            <i class="fa fa-arrow-circle-left"></i>
                            {{projectName}}
                        </button>

                        <button id="btnSave" class="btn btn-edit btn-addon" ng-click="save()" style="margin-left: 4px" ng-disabled="disableAll">
                            <i class="fa fa-floppy-o"></i>Sauvegarder
                        </button>

                    </div>
                </div> -->

                <div class="header">
                    <h2><strong>Caractéristiques, dimensions</strong></h2>
                    <div class="toolbar">
                        <button type="button" class="btn btn-default btn-addon" ng-click="save()">
                            <i class="fa fa-floppy-o"></i>
                            Sauvegarder
                        </button>
                    </div>
                </div>

                <div class="tab-vertical">
                    <div class="column">
                        <div style="overflow: hidden; width: auto; height: 100%;">
                            <ul class="list-group">
                                <li class="list-group-item nav-heading active">
                                    <a class="nav-title nav-link" data-toggle="tab" href="#quantitatives">
                                        Quantitatifs
                                    </a>
                                </li>
                                <li class="list-group-item nav-heading">
                                    <a class="nav-title nav-link" data-toggle="tab" href="#characteristics">
                                        Caractéristiques
                                    </a>
                                </li>
                                <li class="list-group-item nav-heading">
                                    <a class="nav-title nav-link" data-toggle="tab" href="#foundation">
                                        Fondation
                                    </a>
                                </li>
                                <li class="list-group-item nav-heading">
                                    <div class="nav-title bold" style="color: #337ab7;"><strong>élevation</strong></div>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" data-toggle="tab" href="#crawlspace">
                                        Vide Sanitaire
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" data-toggle="tab" href="#groundfloor">
                                        Rez-de-chaussée
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" data-toggle="tab" href="#elevation-r1">
                                        R+1
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" data-toggle="tab" href="#elevation-r2">
                                        R+2
                                    </a>
                                </li>
                                <li class="list-group-item nav-heading">
                                    <a class="nav-title nav-link" data-toggle="tab" href="#gable">
                                        Pignon
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="content">
                        <div class="tab-content">
                            <!-- QUANTITATIVES -->
                            <div id="quantitatives" class="tab-pane animated fadeInRight active" style="margin-right: 60%;">
                                <h3>Quantitatifs</h3>
                                <div>
                                    <label class="bold">Plancher VS :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.crawlspaceFloor" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Plancher R+1 :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.rPlusOneFloor" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Plancher R+2 :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" disabled ng-model="metricsCaracteristics.quantitative.rPlusTwoFloor" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Plancher toit terrasse :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.roofTerraceFloor" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Acrotére :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.acroterion" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Rives :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.shores" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Faitage :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.faitage" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Sous face PVC :</label>&nbsp;
                                    <span class="custom-popover">
                                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="right"
                                           uib-popover="Uniquement pour les surfaces de porches et terrasses couvertes"></i>
                                    </span>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.underPvcFace" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Doublage :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.dubbing" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Cloisons :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.partitions" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Doublage SDB :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.bathroomDubbing" disabled
                                               step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Cloisons SDB :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.bathroomPartitions" disabled
                                               step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface SDB :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.quantitative.bathroomSurface" disabled
                                               step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                            </div>

                            <!-- FOUNDATION-->
                            <div id="foundation" class="tab-pane animated fadeInRight" style="margin-right: 50%;">
                                <h3>Fondation</h3>
                                <table class="table" cellspacing="0" cellpadding="0" navigatable>
                                    <thead>
                                        <tr>
                                            <th>Mur</th>
                                            <th>Longueur (ml)</th>
                                            <th>Largeur (ml)</th>
                                            <th>Profondeur (ml)</th>
                                            <th>Volume (m³)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in walls">
                                            <td>{{n}}</td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.fundation.lengthFundation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.fundation.heightFundation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.fundation.depthFundation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm" disabled
                                                       id="volumeFundation{{n}}"
                                                       ng-value="calcVolume(metricsCaracteristics.fundation.lengthFundation[n], metricsCaracteristics.fundation.heightFundation[n], metricsCaracteristics.fundation.depthFundation[n])" empty-input>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <!-- CHARACTERISTICS-->
                            <div id="characteristics" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3>Caractéristiques</h3>
                                <div>
                                    <label class="bold">Surface habitable RDC :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceRDC" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface habitable R+1 :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceRDplus" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface Séjour :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceLiving" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <label class="bold">Pièces :</label>

                                <div>
                                    <span class="no-bold">WC :</span>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.sanitWC" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">SDB :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.sanitSDB" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Chambres :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.bedroom" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Bureau :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.office" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Dressing :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.dressing" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Cellier :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.cellar" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Cuisine :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.kitchen" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Garage :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.garage" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Divers :</label>&nbsp;
                                    <span class="custom-popover">
                                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="right"
                                           uib-popover="Indispensable pour le lot électricité (Divers)"></i>
                                    </span>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.various" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Salon :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.living" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="no-bold">Dégagement :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.area" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <!--<div class="well">-->
                                    <label class="bold">Surface charpente globale :</label>&nbsp;
                                    <span class="custom-popover">
                                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="right"
                                           uib-popover="Comprend toutes les surfaces de toit (fermette et traditionnel)"></i>
                                    </span>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceFrame" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface charpente de type traditionnel :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceFrameTypeGarage" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface charpente sur garage et/ou terrasses :</label>&nbsp;
                                    <span class="custom-popover">
                                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="right"
                                           uib-popover="Indispensable pour le calcul de l'isolation des combles"></i>
                                    </span>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceUnder" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Surface dalle garage et/ou terrasses :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.caracteristics.surfaceShedSlab" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                                <br />

                                <label class="bold">Enduit monocouche :</label>
                                <div class="no-bold">
                                    <input type="radio" ng-value=0 ng-checked="(metricsCaracteristics.caracteristics.coating == 0)" ng-model="metricsCaracteristics.caracteristics.coating">&nbsp; Finition écrasé
                                    &nbsp;
                                    <input type="radio" ng-value=1 ng-checked="(metricsCaracteristics.caracteristics.coating == 1)" ng-model="metricsCaracteristics.caracteristics.coating">&nbsp; Finition taloché
                                    &nbsp;
                                    <input type="radio" ng-value=2 ng-checked="(metricsCaracteristics.caracteristics.coating == 2)" ng-model="metricsCaracteristics.caracteristics.coating">&nbsp; Finition gratté
                                </div>

                                <br />

                                <label class="bold">Etanchéité toiture terrasse avec le relevé d'étanchéité :</label>
                                <div class="no-bold">
                                    <input value=0 type="radio" ng-checked="(metricsCaracteristics.caracteristics.waterproofing == 0)" ng-model="metricsCaracteristics.caracteristics.waterproofing">&nbsp; Sans isolation
                                    <br />
                                    <input value=1 type="radio" ng-checked="(metricsCaracteristics.caracteristics.waterproofing == 1)" ng-model="metricsCaracteristics.caracteristics.waterproofing">&nbsp; Avec isolation
                                </div>
                            </div>

                            <!-- CRAWLSPACE-->
                            <div id="crawlspace" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3  style>Vide Sanitaire</h3>
                                <div>
                                    <label class="bold">Raidisseurs :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.crawlSpace.stiffenersStakeCrawlSpace" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poutres :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.crawlSpace.beamCrawlSpace" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poteaux :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.crawlSpace.postCrawlSpace" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <table class="table" cellspacing="0" cellpadding="0" navigatable>
                                    <thead>
                                        <tr>
                                            <th>Mur</th>
                                            <th>Longueur (ml)</th>
                                            <th>Hauteur (ml)</th>
                                            <th>Surface (m²)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in walls">
                                            <td>{{n}}</td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.crawlSpace.lengthCrawlSpace[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.crawlSpace.heightCrawlSpace[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm" disabled
                                                       id="surfaceCrawlSpace{{n}}"
                                                       ng-value="calcSurface(metricsCaracteristics.crawlSpace.lengthCrawlSpace[n], metricsCaracteristics.crawlSpace.heightCrawlSpace[n])">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <!-- GROUNDFLOOR-->
                            <div id="groundfloor" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3>Rez-de-chaussée</h3>
                                <div>
                                    <label class="bold">Raidisseurs :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.groundElevation.stiffenersStakeGroundElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poutres :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.groundElevation.beamGroundElevation" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poteaux :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.groundElevation.postGroundElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <table class="table" cellspacing="0" cellpadding="0" navigatable>
                                    <thead>
                                        <tr>
                                            <th>Mur</th>
                                            <th>Longueur (ml)</th>
                                            <th>Hauteur (ml)</th>
                                            <th>Surface (m²)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in walls">
                                            <td>{{n}}</td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.groundElevation.lengthGroundElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.groundElevation.heightGroundElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm" disabled
                                                       id="surfaceGroundElevation{{n}}"
                                                       ng-value="calcSurface(metricsCaracteristics.groundElevation.lengthGroundElevation[n], metricsCaracteristics.groundElevation.heightGroundElevation[n])">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                             <!-- R+1 -->
                            <div id="elevation-r1" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3>R+1</h3>
                                <div>
                                    <label class="bold">Raidisseurs :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.firstElevation.stiffenersStakeFirstElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poutres :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.firstElevation.beamFirstElevation" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poteaux :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.firstElevation.postFirstElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <table class="table" cellspacing="0" cellpadding="0" navigatable>
                                    <thead>
                                        <tr>
                                            <th>Mur</th>
                                            <th>Longueur (ml)</th>
                                            <th>Hauteur (ml)</th>
                                            <th>Surface (m²)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in walls">
                                            <td>{{n}}</td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.firstElevation.lengthFirstElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.firstElevation.heightFirstElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm" disabled
                                                       id="surfaceFirstElevation{{n}}"
                                                       ng-value="calcSurface(metricsCaracteristics.firstElevation.lengthFirstElevation[n], metricsCaracteristics.firstElevation.heightFirstElevation[n])">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                             <!-- R+2 -->
                            <div id="elevation-r2" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3>R+2</h3>
                                <div>
                                    <label class="bold">Raidisseurs :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.secondElevation.stiffenersStakeSecondElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poutres :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.secondElevation.beamSecondElevation" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Poteaux :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control"
                                               ng-model="metricsCaracteristics.secondElevation.postSecondElevation" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>

                                <br />

                                <table class="table" cellspacing="0" cellpadding="0" navigatable>
                                    <thead>
                                        <tr>
                                            <th>Mur</th>
                                            <th>Longueur (ml)</th>
                                            <th>Hauteur (ml)</th>
                                            <th>Surface (m²)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in walls">
                                            <td>{{n}}</td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.secondElevation.lengthSecondElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm"
                                                       ng-model="metricsCaracteristics.secondElevation.heightSecondElevation[n]" step="0.01" decimal-only empty-input>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control input-sm" disabled
                                                       id="surfaceSecondElevation{{n}}"
                                                       ng-value="calcSurface(metricsCaracteristics.secondElevation.lengthSecondElevation[n], metricsCaracteristics.secondElevation.heightSecondElevation[n])">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- GABLE -->
                            <div id="gable" class="tab-pane animated fadeInRight" style="margin-right: 60%;">
                                <h3>Pignon</h3>
                                <div>
                                    <label class="bold">Longueur total d'un pignon :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.gable.lengthTotal" step="0.01" decimal-only empty-input>
                                        <span class="input-group-addon">ml</span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Pente :</label>
                                    <div class="form-group">
                                        <input type="number" class="form-control input-sm" style="border-radius: 3px;" ng-model="metricsCaracteristics.gable.slope" placeholder="0,33"
                                               step="0.01" decimal-only empty-input>
                                        <span></span>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label class="bold">Nombre pignons :</label>
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" ng-model="metricsCaracteristics.gable.number" integer-only empty-input>
                                        <span class="input-group-addon">u</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CONFIG BOX-->
    <div class="config">
        <div class="config-box-larger">

            <div class="spin-icon">
                <i class="fa fa-cog"></i>
            </div>

            <div class="setttings" style="width:280px;">
                <div class="title">
                    FONDATION
                    <span class="custom-popover">
                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="bottom" uib-popover="Saisie de valeurs par défaut pour la fondation"></i>
                    </span>
                </div>
                <div class="divider"></div>

                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Largeurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;" >
                        <input type="number" class="form-control" ng-model="defaultHeightFundation" ng-change="setHeightFundationDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>
                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Profondeurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;">
                        <input type="number" class="form-control" ng-model="defaultDepthFundation" ng-change="setDepthFundationDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>

                <br />

                <div class="title">
                    VS - ÉLEVATION
                    <span class="custom-popover">
                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="bottom" uib-popover="Saisie de valeurs par défaut pour le vide sanitaire"></i>
                    </span>
                </div>
                <div class="divider"></div>

                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Hauteurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;">
                        <input type="number" class="form-control" ng-model="defaultHeightVS" ng-change="setHeightVSDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>
                
                <br />

                <div class="title">
                    RDC - ÉLEVATION
                    <span class="custom-popover">
                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="bottom" uib-popover="Saisie de valeurs par défaut pour le rez-de-chaussée"></i>
                    </span>
                </div>
                <div class="divider"></div>

                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Hauteurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;">
                        <input type="number" class="form-control" ng-model="defaultHeightGroundElevation" ng-change="setHeightGroundElevationDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>

                <br />

                <div class="title">
                    R+1 - ÉLEVATION
                    <span class="custom-popover">
                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="bottom" uib-popover="Saisie de valeurs par défaut pour l'élévation R+1"></i>
                    </span>
                </div>
                <div class="divider"></div>

                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Hauteurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;">
                        <input type="number" class="form-control" ng-model="defaultHeightFirstElevation" ng-change="setHeightFirstElevationDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>

                <br />

                <div class="title">
                    R+2 - ÉLEVATION
                    <span class="custom-popover">
                        <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" popover-placement="bottom" uib-popover="Saisie de valeurs par défaut pour l'élévation R+2"></i>
                    </span>
                </div>
                <div class="divider"></div>

                <div class="settings-item" style="padding-left:20px; padding-right:20px;">
                    <span style="vertical-align: middle; line-height: 2em;">Hauteurs</span>
                    <div class="input-group input-group-sm" style="float: right; width: 60%;">
                        <input type="number" class="form-control" ng-model="defaultHeightSecondElevation" ng-change="setHeightSecondElevationDefaultValues()" step="0.01" decimal-only>
                    </div>
                </div>

                <br />

            </div>

        </div>
    </div>

</div>

<script>
    $('.spin-icon').click(function () {
        $(".config-box-larger").toggleClass("show");
    });
        //$(".caracs-form #collapse1").collapse("show");

        $('.list-group a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $(function() {
            $(".tab-vertical .list-group-item a").click(function() {
                
                $('.tab-vertical .list-group-item a.active').removeClass('active');
                $(this).addClass('active');
            });
        });
</script>
