<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>{{projectName}}</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">

                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li><a ui-sref="app.project">Projets</a></li>
                <li class="active">{{projectName}}</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">

        <!-- <div class="row animated fadeInRight">
            <div class="col-md-6">
                <button class="btn btn-success btn-addon" ui-sref="app.project">
                    <i class="fa fa-arrow-circle-left"></i>
                    Projets
                </button>
            </div>
        </div>

        <br /> -->

        <div class="row animated fadeInRight project-detail" style="margin-left:30px;">
            <br/>
            <br/>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="{{path}}">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel-picture">
                                <i class="fa fa-calculator"></i>
                            </div>
                            <div class="panel-content">
                                Métré
                            </div>
                            <small>Calculer</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);" ng-click="chooseCustomer()" title="Choix du client">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel-picture">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="panel-content">
                                Client
                            </div>
                            <small>
                                <span ng-show="customer != null">
                                    <span ng-show="customer.socialReason"> {{customer.socialReason +  " - " }}</span>
                                    <span>
                                        {{customer.title + " " + customer.firstName + " " + customer.lastName}}
                                    </span>
                                </span>
                                <span ng-show="customer == null">
                                    Aucun client affecté
                                </span>
                                <i class="fa fa-edit"></i>
                            </small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a ui-sref="app.project-detail-quote({detail: projectID})">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel-picture">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div class="panel-content">
                                Devis estimatif
                            </div>
                            <small>Générer</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-shopping-bag"></i>
                            </div>
                            <div class="panel-content">
                                Marchés de travaux
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="panel-content">
                                Intervenants
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                Fournitures
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                Planning PP
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                CR. Chantier
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                M.O Gros Oeuvre
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                Planning Etage
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                PV Réception
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                M.O Charpente
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4">
                <a href="javascript:void(0);">
                    <div class="panel">
                        <div class="panel-body disabled">
                            <div class="panel-picture">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="panel-content">
                                M.O Cloisons doublage
                            </div>
                            <small>...</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
