<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Base tarifaire</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Base tarifaire</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="row animated fadeInRight">

            <div class="col-md-12 col-sm-12">

                <div class="header">
                    
                    <a class="btn btn-edit" href="javascript:void(0)" ng-click="linkActive='new'" ng-class="{'link-inactive':linkActive!=='new'}" data-target="#new" data-toggle="tab">
                        <i class="fa fa-home"></i>&nbsp;&nbsp;NEUF
                    </a>
    
                    <a class="btn btn-edit" href="javascript:void(0)" ng-click="linkActive='reno'" ng-class="{'link-inactive':linkActive!=='reno'}" data-target="#reno" data-toggle="tab"
                       style="margin-right: auto;">
                       <i class="fa fa-recycle"></i>&nbsp;&nbsp;RENOVATION
                    </a>

                    <div class="toolbar" style="margin-top: auto;"> 
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                        <circle cx="5" cy="12" r="2"></circle>
                                        <circle cx="12" cy="12" r="2"></circle>
                                        <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="javascript:void(0);" ng-click="getRateBaseInCSV()" ng-disabled="disableAll">
                                    <i class="fa fa-download"></i>
                                    Exporter la base tarifaire
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="createLot()" ng-disabled="disableAll">
                                    <i class="fa fa-plus"></i>
                                    Cr&eacute;er un lot
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="tabs-container">

                    <div class="tab-content" style="border: transparent; padding: 0;">

                        <div class="tab-pane animated fadeInRight active" id="new">

                            <br />

                            <!-- 
                            <button class="btn btn-edit btn-addon" ng-click="getRateBaseInCSV()" style="margin-left: 4px;" ng-disabled="disableAll">
                                <i ng-class="{'fa fa-refresh fa-pulse fa-1x' : showSpinner, 'fa fa-download' : !showSpinner}"></i>
                                Exporter la base tarifaire (Neuf)
                            </button> -->

                            <div class="input-group col-md-3 col-sm-3" style="margin-left: 20px; margin-bottom: 20px;">
                                <input type="search" class="form-control" ng-model="searchTextForNew" ng-change="searchTable()" placeholder="Rechercher une d&eacute;signation" aria-controls="dtRateBaseForNew">
                                <!-- <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span> -->
                            </div>

                            <div class="panel panel-white">

                                <div class="panel-body ng-dt">

                                    <button ng-click="collapse()" class="btn btn-default btn-addon btn-xs" ng-disabled="disableAll">
                                        <span ng-show="!isCollapsedForNew"><i class="fa fa-angle-double-right"></i><strong>Tout d&eacute;velopper</strong></span>
                                        <span ng-show="isCollapsedForNew"><i ng-show="isCollapsedForNew" class="fa fa-angle-double-down"></i><strong>Tout r&eacute;duire</strong></span>
                                    </button>
                                    <br />
                                    <br />

                                    <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                                    <div class="table-responsive">

                                        <div class="panel-group">
                                            <div class="panel panel-default" ng-repeat="item in tableRateBaseForNewClone">

                                                <div class="panel-heading">
                                                    <h3 class="panel-title lot">

                                                        <a data-toggle="collapse" data-target="#new-collapse{{item.lotId}}" href="javascript:void(0);"></a>
                                                        <span ng-if="item.isCustom" class="custom" data-pk="{{item.lotId}}">{{item.name | uppercase}}</span>
                                                        <span ng-if="!item.isCustom">{{item.name | uppercase}}</span>

                                                    </h3>

                                                    <div class="tools">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                                            <i class="fa fa-wrench"></i>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-show="item.isCustom">
                                                                <a ng-click="deleteLot(item.lotId, item.name)">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                    Supprimer le lot
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="createDesignation(item.lotId, item.name)">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                    Cr&eacute;er une d&eacute;signation
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>

                                                <div class="panel-collapse collapse" id="new-collapse{{item.lotId}}" lot-id="{{item.lotId}}">
                                                    <div class="panel-body">
                                                        <table id="dtRateBaseForNew" class="table table-condensed table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:75%">D&eacute;signation</th>
                                                                    <th>Unit&eacute;</th>
                                                                    <th>P.U HT</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(key, cell) in item.data">

                                                                    <td class="designation">
                                                                        <a ng-if="cell.isCustom" class="custom" href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.name}}
                                                                        </a>
                                                                        <a ng-if="!cell.isCustom" href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.name}}
                                                                        </a>
                                                                    </td>
                                                                    <td ng-if="!cell.isCustom" class="unit">{{cell.unit}}</td>
                                                                    <td ng-if="cell.isCustom" class="unit">
                                                                        <a href="javascript:void(0);" data-pk="{{key}}">
                                                                            {{cell.unit}}
                                                                        </a>
                                                                    </td>
                                                                    <td class="pricePerUnit">
                                                                        <a href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.pricePerUnit | number:2 }}
                                                                        </a>
                                                                    </td>
                                                                    <td width="1%">
                                                                        <a ng-show="cell.isCustom" href="javascript:void(0);" ng-click="deleteDesignation(item.lotId, item.name, cell.name, key)" style="color:inherit">
                                                                            <i class="glyphicon glyphicon-trash"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer text-right">
                                                        <a data-toggle="collapse" data-target="#new-collapse{{item.lotId}}" href="javascript:void(0);">
                                                            <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane animated fadeInRight" id="reno">

                            <br />

                            <div class="input-group col-md-3 col-sm-3" style="margin-left: 20px; margin-bottom: 20px;">
                                <input type="search" class="form-control" ng-model="searchTextForReno" ng-change="searchTable()" placeholder="Rechercher une d&eacute;signation" aria-controls="dtRateBaseForReno">
                                <!-- <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span> -->
                            </div>

                            <div class="panel panel-white">

                                <div class="panel-body ng-dt">

                                    <button ng-click="collapse()" class="btn btn-default btn-addon btn-xs" ng-disabled="disableAll">
                                        <span ng-show="!isCollapsedForReno"><i class="fa fa-angle-double-right"></i><strong>Tout d&eacute;velopper</strong></span>
                                        <span ng-show="isCollapsedForReno"><i ng-show="isCollapsedForReno" class="fa fa-angle-double-down"></i><strong>Tout r&eacute;duire</strong></span>
                                    </button>
                                    <br />
                                    <br />

                                    <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                                    <div class="table-responsive">

                                        <div class="panel-group">
                                            <div class="panel panel-default" ng-repeat="item in tableRateBaseForRenoClone">

                                                <div class="panel-heading">
                                                    <h3 class="panel-title lot">

                                                        <a data-toggle="collapse" data-target="#reno-collapse{{item.lotId}}" href="javascript:void(0);"></a>
                                                        <span ng-if="item.isCustom" class="custom" data-pk="{{item.lotId}}">{{item.name | uppercase}}</span>
                                                        <span ng-if="!item.isCustom">{{item.name | uppercase}}</span>

                                                    </h3>

                                                    <div class="tools">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                                            <i class="fa fa-wrench"></i>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-show="item.isCustom">
                                                                <a ng-click="deleteLot(item.lotId, item.name)">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                    Supprimer le lot
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="createDesignation(item.lotId, item.name)">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                    Cr&eacute;er une d&eacute;signation
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>

                                                <div class="panel-collapse collapse" id="reno-collapse{{item.lotId}}" lot-id="{{item.lotId}}">
                                                    <div class="panel-body">
                                                        <table id="dtRateBaseForReno" class="table table-condensed table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:75%">D&eacute;signation</th>
                                                                    <th>Unit&eacute;</th>
                                                                    <th>P.U HT</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(key, cell) in item.data">

                                                                    <td class="designation">
                                                                        <a ng-if="cell.isCustom" class="custom" href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.name}}
                                                                        </a>
                                                                        <a ng-if="!cell.isCustom" href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.name}}
                                                                        </a>
                                                                    </td>
                                                                    <td ng-if="!cell.isCustom" class="unit">{{cell.unit}}</td>
                                                                    <td ng-if="cell.isCustom" class="unit">
                                                                        <a href="javascript:void(0);" data-pk="{{key}}">
                                                                            {{cell.unit}}
                                                                        </a>
                                                                    </td>
                                                                    <td class="pricePerUnit">
                                                                        <a href="javascript:void(0);"
                                                                           data-pk="{{key}}">
                                                                            {{cell.pricePerUnit | number:2 }}
                                                                        </a>
                                                                    </td>
                                                                    <td width="1%">
                                                                        <a ng-show="cell.isCustom" href="javascript:void(0);" ng-click="deleteDesignation(item.lotId, item.name, cell.name, key)" style="color:inherit">
                                                                            <i class="glyphicon glyphicon-trash"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer text-right">
                                                        <a data-toggle="collapse" data-target="#reno-collapse{{item.lotId}}" href="javascript:void(0);">
                                                            <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>