﻿<div class="page-inner" style="min-height: 1080px !important">
    <div class="page-title">
        <h3>Tiers</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="app.dashboard">Accueil</a></li>
                <li class="active">Tiers</li>
            </ol>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="row animated fadeInRight">

            <div class="col-md-12">

                <div class="header">
                    
                    <a class="btn btn-edit" href="javascript:void(0)" ng-click="linkActive='customer'" ng-class="{'link-inactive':linkActive!=='customer'}" data-target="#customer"
                       data-toggle="tab">
                        <i class="fa fa-users"></i>&nbsp;&nbsp;Clients
                    </a>
    
                    <a class="btn btn-edit disabled" href="javascript:void(0)" ng-click="linkActive='intervener'" ng-class="{'link-inactive':linkActive!=='intervener'}" data-target="#intervener"
                       data-toggle="tab">
                        <img src="../../images/work-crew.png" height="15" width="15" />&nbsp;&nbsp;Intervenants
                    </a>

                    <a class="btn btn-edit disabled" href="javascript:void(0)" ng-click="linkActive='supplier'" ng-class="{'link-inactive':linkActive!=='supplier'}" data-target="#supplier"
                       data-toggle="tab" style="margin-right: auto;">
                        <i class="fa fa-truck"></i>&nbsp;&nbsp;Fournisseurs
                    </a>

                    <div class="toolbar" style="margin-top: auto;"> 
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                    <g fill="currentColor" fill-rule="evenodd">
                                        <circle cx="5" cy="12" r="2"></circle>
                                        <circle cx="12" cy="12" r="2"></circle>
                                        <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="javascript:void(0);" ng-click="createCustomer()">
                                    <i class="fa fa-plus"></i>
                                    Créer une fiche client
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="">
                                    <i class="fa fa-upload"></i>
                                    Importer un fichier csv
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="tabs-container">

                    <div class="tab-content" style="border: transparent; padding: 0;">

                        <div class="tab-pane active" id="customer">

                            <br />

                            <div class="input-group col-md-3 col-sm-3" style="margin-left: 20px; margin-bottom: 20px;">
                                <input type="search" class="form-control" ng-model="searchText" ng-change="searchTable()" placeholder="Rechercher un client" aria-controls="dtCustomers">
                                <!-- <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span> -->
                            </div>

                            <div class="third-panel">

                                <div class="panel panel-white">
                                    <div class="panel-body ng-dt">

                                        <div ng-show="showLoading" class="loading-text-lg text-center">Chargement...</div>

                                        <div class="table-responsive" ng-show="!showLoading">

                                            <table id="dtCustomers"
                                                   class="table table-bordered table-striped hover"
                                                   datatable="ng"
                                                   dt-options="dtOptions"
                                                   dt-columns="dtColumns"
                                                   dt-instance="dtInstance"
                                                   cellspacing="0"
                                                   width="100">
                                                <thead>
                                                    <tr>
                                                        <th ng-repeat="header in tableCustomersHeaders">{{header}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="customer in tableCustomers track by customer.customerID">

                                                        <td class="fullName">
                                                            {{customer.firstName + " " + customer.lastName}}
                                                        </td>
                                                        <td class="socialReason">
                                                            {{customer.socialReason}}
                                                        </td>
                                                        <td class="phoneNumber">
                                                            {{customer.phoneNumber}}
                                                        </td>
                                                        <td class="email">
                                                            {{customer.email}}
                                                        </td>
                                                        <!--<td class="address">
                                                            {{formatAddress(customer.address)}}
                                                        </td>-->
                                                        <td class="status">
                                                            {{customer.status}}
                                                        </td>
                                                        <td class="modify" ng-click="updateCustomer(customer.customerID)">
                                                            <a href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a>
                                                        </td>
                                                        <td class="delete" ng-click="deleteCustomer(customer.customerID)">
                                                            <a href="javascript:void(0);"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane" id="intervener">

                            <div class="third-panel">
                                <div class="panel panel-white">

                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="supplier">

                            <div class="third-panel">
                                <div class="panel panel-white">

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>