.landing-page .header-back.one {
	background-color: #22BAA0;
}

.landing-page .carousel-caption p {
	text-transform: none;
}

.landing-page .carousel-caption {
	color: #fff;
}

.landing-page .carousel {
	overflow: visible;
}

.landing-page .navbar-default .nav li a {
	color: #676a6c;
}

.landing-page .navbar-default .navbar-brand {
	background: #fff;
	padding-top: 28px;
	padding-bottom: 8px;
}

.landing-page .navbar-default {
	background: #fff;
}

.landing-page .navbar.navbar-scroll .navbar-brand {
	margin-top: 0px;
}

.landing-page .navbar-wrapper .navbar:not(navbar-scroll) {
	padding-bottom: 12px;
}

.landing-page .carousel-caption h1 {
	font-weight: lighter;
}

.landing-page .nav.navbar-right {
	margin-top: 10px;
	margin-left: 30px;
}

.landing-page .nav.navbar-right .btn-primary{
	padding: 5px 10px;
	background-color: #fff;
	border-color: #676a6c;
	color: #676a6c;
}

.landing-page .nav.navbar-right .btn-primary:hover{
	background-color: #ebecf0;
}

.col-sm-3 {
	position: relative;
	left: 150px;
}

.titre1 {
	position: relative;
	left: 600px;
}

.bouton1 {
	position: relative;
	left: 100px;
	padding: 50px;
}

.motced {
	font-weight: bold;
	font-size: 20px;
}

.landing-page section p {
	font-size: 15px;
}

.landing-page .pricing-plan li {
	color: inherit
}

.landing-page li.pricing-title {
	color: #fff;
}

.m-t-n-lg {
	margin-top: 0px;
}

medium {
	color : #1ab394;
}

@media (min-width: 992px) {
	.landing-page .carousel-caption h1 {
	  font-size: 30px !important;
	}
}

@media only screen and (max-width: 768px) {
	.landing-page .header-back {
		height: 370px;
	}

	.landing-page .carousel {
		height: 370px;
	}

	.landing-page .nav.navbar-right {
		margin-left : auto;
	}

	.landing-page h1 {
		margin-top: 20px;
	}

	.landing-page .navbar-header.page-scroll{
		margin-right: auto;
    	margin-top: 12px;
	}
}