body {
    background-color: #343A40;
}

/**
 * Page
 */
.page-inner {
    background: #fff;
    /* background: #F8F9FA; */
    background-image: none;
}

.page-title {
    background: #fff;
    /* background: #F8F9FA; */
}

/**
 * Main-wrapper
 */
 
 #main-wrapper .header {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#main-wrapper .header > h2{
    margin-left: 20px;
}

#main-wrapper .header > .toolbar{
    margin-right: 20px;
}

#main-wrapper .header > .toolbar > .btn-group > .btn {
    padding: 5px 8px 0 8px;
    margin-left: 4px;
}

#main-wrapper .header > .toolbar > .btn {
    margin-left: 4px;
}

#main-wrapper .header a.btn-edit:first-child {
    margin: 20px 0 0 20px;
}

#main-wrapper .header a.btn-edit:not(:first-child) {
    margin-top: auto;
    margin-left: 7px;
}

/**
 * Navbar
 */

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background: #F8F9FA;
}

/**
 * Sidebar
 */

/*.sidebar {
    background: #343A40;
}

.sidebar-header {
    background: #343A40;
}

.sidebar-profile span small {
    color: #A7B1C2;
}

.menu {
    background: #343A40;
}*/

.menu.accordion-menu a {
    color: #A7B1C2;
}

.menu.accordion-menu > li > a:hover {
    /*background: #293846;*/
    color: #fff;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
    background: #293846;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #293846;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
    background: #2F4050;
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #A7B1C2;
}

/* sidebar-toggled */

.sidebar-toggled {
    /*margin-left: -250px;*/
    width: 55px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-toggled .sidebar-header {
    padding: 10px;
}

.sidebar-toggled .menu.accordion-menu a p,
.sidebar-toggled .sidebar-profile div > span {
    display: none;
}

.sidebar-toggled .menu.accordion-menu a {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-toggled .menu.accordion-menu a i {
    font-size: 2em;
}

.sidebar-toggled .menu.accordion-menu {
    width: 55px;
}

.navbar-left .sidebar-toggled #sidebarToggler i {
    content: "\f105";
}

/* page footer toggled*/
.page-footer-toggled {
    left: 55px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/**
 * label
 */
.label-success-2 {
    background-color: #1C84C6;
    color: #FFFFFF;
}

/**
 * Buttons
 */
.btn-cancel, .swal-button--cancel {
    background-color: #fff;
    color: #4E5E6A;
    border: 1px solid transparent;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel:active:focus, .btn-cancel:active:hover {
    background-color: #fff;
    border: 1px solid transparent;
    color: #4E5E6A;
    text-decoration: underline;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/**
 * Sweet alert
 */
 .swal-title {
    font-size: 16px;
 }

 .swal-text {
    font-size: 14px;
    margin: 0 30px;
    text-align: justify;
 }

.swal-button--cancel, .swal-button--confirm {
    font-size: 13px;
    padding : 6px 12px;
    font-weight: normal;
}

.swal-button--confirm:focus {
    box-shadow: none;
}

.swal-button--cancel:hover, .swal-button--cancel:focus {
    background-color: #fff;
    box-shadow: none;
    color: #4E5E6A;
}

.swal-button--cancel:hover {
    text-decoration: underline;
}

.swal-button--cancel:not([disabled]):hover,
.swal-button--cancel:not([disabled]):hover {
    background-color: #fff;
}

.swal-button--loading {
    color: #fff;
}

/**
 * tab vertical
 */

 .tab-vertical {
    height: calc(100% - 196px);
    position: relative;
    margin-left: 10px;
}

.tab-vertical .column {
    height: 100%;
    width: 240px;
    float: left;
}

.tab-vertical .content
{
    overflow: hidden;
    width: auto;
    height: 100%;
    border-left: 1px solid #e7eaec;
    /* margin-right: 60%; */
}

.tab-vertical .content > .tab-content > .tab-pane > h3
{
    margin: -10px 0 30px 0;
}

.tab-vertical .list-group-item {
    background-color: inherit;
    border: none;
    font-size: 13px;
    padding : 0;
}

.tab-vertical .list-group-item.active {
    color: inherit;
}

.tab-vertical .list-group-item.nav-heading:first-child {
    border-top: none;
}

.tab-vertical .list-group-item.nav-heading {
    border-top: 1px solid #e7eaec;
    margin-right: 20px;
}

.tab-vertical .list-group-item.nav-heading .nav-title {
    padding: 9px 0 9px 20px;
    text-transform: uppercase;
    font-size: 14px;
    /* color: #A7B1C2; */
}

.tab-vertical .list-group-item.active:hover {
    background: inherit;
} 

/* .tab-vertical .list-group-item a {
    color: #90999c;
} */

.tab-vertical .list-group-item a.active {
    font-weight: 700;
    color :#172B4D;
}

.tab-vertical .list-group-item a.active, .tab-vertical .list-group-item a:hover {
    border-color: #fff;
    border-radius: 0;
}

.tab-vertical .list-group-item a.nav-link {
    display: block;
    padding: 7px 0 7px 20px;
}

.tab-vertical .list-group-item a.nav-link:hover {
    text-decoration: none;
    background: #f3f3f4;
}

.tab-vertical .list-group-item a.nav-link:focus {
    text-decoration: none;
    background: inherit;
}

/**
 * 
 */

optimoc-logo {
    height: 100px;
    width: 318px;
    /*margin-right: 50%;*/
}

a.disabled {
    cursor: not-allowed;
    /*pointer-events: none;*/
}

.panel-body.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

    .panel-body.disabled a {
        pointer-events: none;
    }

/**
 * Page breadcrumb
 */

.page-title .page-breadcrumb .breadcrumb .active {
    font-weight: bold;
    color: #4E5E6A;
}

/**
 * Input number
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

    input[type="number"]:invalid {
        border-color: red;
    }

/**
 * Project-detail-metric view / Project-detail-metric-form view / Project-detail view
 */

.metrics-table table .qte a {
    color: #20A790;
    border-bottom: dashed thin;
    text-decoration: none;
}

.metrics-table table .pricePerUnit a,
.metrics-table table .unit a,
.metrics-table table .vat a {
    color: #20A790;
    border-bottom: dashed thin;
    text-decoration: none;
}

.metrics-table table .designation {
    width: 40%;
}

.metrics-table table .designation a {
    color: #4E5E6A;
    /*border-bottom: dashed thin;*/
    border-bottom: none;
    text-decoration: none;
}

.metrics-table table .qte,
.metrics-table table .pricePerUnit,
.metrics-table table .unit,
.metrics-table table .vat,
.metrics-table table .totalTTC {
    color: #808080;
    font-weight: bold;
}

.metrics-table table .totalHT,
.metrics-table table .totalTTC {
    width: 6%;
    color: #808080;
}

.metrics-table .panel-heading {
    height: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 28px !important;
    vertical-align: middle;
}

.metrics-table .panel-default:nth-of-type(2n) .panel-heading {
    background-color: #d7d8d9;
}

.metrics-table .panel-footer {
    background-color: white !important;
}

.metrics-table .panel-footer a {
    font-size: 20px;
    color: #777;
}

.metrics-table .panel-collpase .panel-body table thead th:nth-child(0n+1) {
    width: 50% !important;
}

.total {
    color: #20A790 !important;
}

.metrics-table .editableform {
    margin-bottom: 0;
    margin-top: -6px;
}

.metrics-table .editable-buttons button {
    height: 27px;
}

.metrics-table input[type=checkbox] {
    margin-left: 7px;
}

.caracs-form .tools,
.metrics-table .tools {
    display: block;
    right: 45px;
    position: absolute;
    margin-top: -1.5px;
}

.caracs-form .tools a,
.metrics-table .tools a {
    cursor: pointer;
    color: #777;
}

.caracs-form .tools .dropdown-menu > li > a,
.metrics-table .tools .dropdown-menu > li > a {
    padding: 4px 5px 7px 10px !important;
    font-size: 12px;
    color: #777;
}

.caracs-form .tools .dropdown-menu > li > a:hover,
.metrics-table .tools .dropdown-menu > li > a:hover {
    color: #414649;
}

.caracs-form .tools.open > .dropdown-menu,
.metrics-table .tools.open > .dropdown-menu {
    left: auto;
    right: 0px;
    top: auto;
    border: 1px solid #c4c4c4 !important;
}

.metrics-footer table  tbody tr td {
    font-size: 20px;
    border-top: none;
    text-align: right;
}

.caracs-form .col-md-5 div.input-group {
    float: right;
    padding-right: 0%;
    width: 30%;
}

.caracs-form .col-md-7 div.input-group {
    float: right;
    padding-right: 60%;
    width: 85%;
}

.caracs-form .panel {
    margin-top: 20px;
    border-right: 1px solid #E7EAEC !important;
    border-left: 1px solid #E7EAEC !important;
    border-top: 0px !important;
}

.caracs-form .panel-heading {
    border-top: 3px solid #E7EAEC !important;
    border-bottom: 1px solid #E7EAEC !important;
    padding-top: 15px !important;
    max-height: 50px !important;
}

.caracs-form .panel-heading:hover {
    background-color: #F9F8F8;
}

.caracs-form .panel-heading .panel-title {
    padding-left: 10px;
}

.caracs-form .col-md-5 .panel-heading {
    border-top: 2px solid #3498DB !important;
}

.caracs-form .col-md-7 .panel-heading {
    border-top: 2px solid #22BAA0 !important;
}

.caracs-form .panel-body .bold {
    font-weight: bold;
}

.caracs-form .panel-body .no-bold {
    padding-left: 20px;
}

.caracs-form #btnSave {
    float: right;
    margin-right: 10px;
    width: 160px;
    font-size: 14px;
}

.caracs-form .table > thead > tr > th {
    padding: 10px 4px 10px 6px !important;
}

.caracs-form .table > tbody > tr > td {
    vertical-align: middle;
    padding: 10px 3px 10px 3px !important;
}

.caracs-form .table > tbody > tr > td > input {
    float: left;
    width: 100%;
}

.caracs-form .table > tbody > tr > td > input {
    /*background-color : #f9f8f8;*/
}

.caracs-form .panel-footer {
    background-color: white !important;
}

.caracs-form .panel-footer a {
    font-size: 20px;
    color: #777;
}

.caracs-form input:hover {
    background-color: #eeeeee;
}

.project-detail .panel {
    /* display: block;
    position: relative;
    box-sizing: border-box; */
    min-width: 113px;
    width: 100%;
    max-width: 188px;
    background-image: linear-gradient(rgb(244, 245, 247) 33%, #fff 33%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: 3px;
}

.project-detail .panel > .panel-body {
    padding: 16px;
}

.project-detail .panel .panel-body .panel-picture {
    display: inline-block;
    position: relative;
    outline: 0px;
    height: 36px;
    width: 36px;
}

.project-detail .panel .panel-body .panel-picture .fa {   
   font-size: 24px;
   color: #1ab394;
}

.project-detail .panel .panel-body .panel-content {
    color: #4E5E6A;
    font-weight: 700;
}

.project-detail .panel .panel-body small {
    color: #4E5E6A;
}

.project-detail a {
    text-decoration: none;
    display: block;
}

@media screen and (max-device-width: 640px) {
    .caracs-form .col-sm-4:nth-child(1) div .input-group {
        /*float: right;*/
        padding-right: 30%;
        /*width: 80%;*/
    }
}

@media screen and (max-device-width: 640px) {
    .caracs-form .col-sm-4:nth-child(2) div .input-group {
        /*float: right;*/
        padding-right: 30%;
        /*width: 80%;*/
    }
}

@media screen and (max-device-width: 640px) {
    .caracs-form .col-sm-4:nth-child(3) div .input-group {
        /*float: right;*/
        padding-right: 30%;
        /*width: 80%;*/
    }
}

@media screen and (max-device-width: 640px) {
    .caracs-form .col-sm-4 .panel-body {
        /*height: calc(100vh - 440px);*/
        /*overflow-y: auto;*/
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    .caracs-form .col-md-4:nth-child(1) div .input-group {
        padding-right: 20%;
    }

    .caracs-form .col-md-4:nth-child(2) div .input-group {
        padding-right: 20%;
    }

    .caracs-form .col-md-4:nth-child(3) div .input-group {
        padding-right: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1330px) {

    .caracs-form [class*="col-md"] {
        width: 100%;
    }

    .caracs-form .col-md-4:nth-child(1) div .input-group {
        padding-right: 20%;
    }

    .caracs-form .col-md-4:nth-child(2) div .input-group {
        padding-right: 20%;
    }

    .caracs-form .col-md-4:nth-child(3) div .input-group {
        padding-right: 20%;
    }
}

/**
 * Register / Third view
 */
/*select[name="role"] option,
select[name="type"] option {
    color: #4E5E6A;
}

select[name="role"].empty {
    color: #999;
}*/

.third-panel .form-control {
    display: inline-block;
    width: 50%;
}

/**
 * Project view
 */
.project-panel .panel-heading {
    border-bottom: 1px solid #E7EAEC !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    /*max-height: 50px !important;*/
}

.project-panel .border-top-info {
    border-top: 3px solid #12AFCB !important;
}

.project-panel .border-top-primary {
    border-top: 3px solid #7A6FBE !important;
}

.project-panel .border-top-danger {
    border-top: 3px solid #F25656 !important;
}

.project-panel .panel-body {
    margin-bottom: 30px;
}

.project-panel .tools {
    display: block;
    text-align: right;
}

    .project-panel .tools a {
        cursor: pointer;
        color: #c4c4c4;
    }

    .project-panel .tools .dropdown-menu > li > a {
        padding: 4px 0 7px 20px !important;
        font-size: 12px;
        color: #777;
    }

        .project-panel .tools .dropdown-menu > li > a:hover {
            color: #414649;
        }

    .project-panel .tools.open > .dropdown-menu {
        left: auto;
        right: 40px;
        top: auto;
        border: 1px solid #c4c4c4 !important;
    }

@media (max-width: 768px) {
    .tools {
        float: none;
        text-align: right;
        display: block;
    }
}

@media (max-width: 350px) {
    .tools {
        float: none;
        text-align: left;
        display: inline-block;
    }
}


.project-panel .panel {
    border-left: 1px solid #E7EAEC !important;
    border-right: 1px solid #E7EAEC !important;
    border-bottom: 1px solid #E7EAEC !important;
}

.project-panel .panel-body {
    margin-top: 10px;
    height: 30px;
}

.project-panel .panel-footer {
    border-top: none !important;
    background-color: #fff;
    text-align: right;
}

    .project-panel .panel-footer > a {
        color: #777;
    }

    .project-panel .panel-footer .link-detail > a {
        display: block;
        padding: 7px 15px;
        text-align: right;
        font-weight: 500;
        text-decoration: none;
        color: #777;
    }

.project-panel .project-label {
    font-weight: 600;
}

.create-project-panel .panel {
    margin-top: 5px;
    border: 1px solid #E7EAEC !important;
}

.create-project-panel #save-project {
    float: right;
    width: 120px;
}

/* projects-table */

.projects-table > thead > tr > th {
    font-weight: bold;
    font-size: 13px;
}

.projects-table > tbody > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 10px !important;
    vertical-align: top;
}

    .projects-table > tbody > tr > td > a > i {
        color: #1ab394;
        font-size: 20px;
    }

/**
 * Account / Third view
 */

.account-panel .panel,
.third-panel .panel {
    box-shadow: none;
}

.account-panel .panel-heading,
.third-panel .panel-heading {
    border-top: 3px solid #1ab394 !important;
    border-bottom: 1px solid #E7EAEC !important;
    padding-top: 15px !important;
    max-height: 60px !important;
}

.account-panel .panel-title,
.third-panel .panel-title {
    font-size: 19px !important;
    font-weight: 300 !important;
}

.form-group label.required:after {
    content: "*";
    color: red;
}

.account-panel .panel-body {
    /*border-top: 2px solid #1ab394 !important;*/
    padding-bottom: 5px !important;
}

.account-panel table {
    width: 82%;
}

.account-table tbody tr:last-child td {
    border-bottom: 1px solid #e7eaec;
}

.account-table tbody tr td:first-child {
    width: 20%;
    background-color: #f9f9f9;
}

.account-table tbody tr td:last-child {
    /*float: left;*/
    width: 5%;
}

.account-table tbody tr td {
    font-size: 14px;
    /*padding-top: 12px !important;*/
    padding-bottom: 12px !important;
    /*height: 4px !important;*/
}

    .account-table tbody tr td .glyphicon-pencil {
        color: #1ab394;
    }

.account-input-editable {
    width: 100% !important;
}

.account-image, .account-logo {
    /*width: 120px !important;*/
    float: left !important;
}

.account-image {
    margin-top: -20px;
}

.account-logo {
    margin-top: -20px;
}

.account-image img {
    width: 100px !important;
    height: 100px !important;
}

.account-logo img {
    width: 100px !important;
    height: 100px !important;
}

.account-info {
    margin-left: 120px;
}

img.circle-border {
    border: 3px solid #E7EAEC !important;
    border-radius: 50% !important;
}

.tabs-container .nav-tabs > li > a {
    border-radius: 4px 4px 0 0 !important;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .tab-content {
    border: 1px solid #e7eaec;
    border-top-color: transparent;
}

.third-panel .btn {
    margin-top: 20px;
}

/**
 * Dashboard view
 */

/*.dashboard-tasks .panel {
    border: 1px solid #E7EAEC !important;
}*/

.dashboard-tasks .panel-body-project {
    border-top: 3px solid !important;
    border-bottom: 1px solid #E7EAEC !important;
}

.dashboard-tasks .panel-body-calendar {
    border-top: 3px solid #22BAA0 !important;
    border-bottom: 1px solid #E7EAEC !important;
}

.dashboard-tasks .panel-body-email {
    border-top: 3px solid #22BAA0 !important;
    border-bottom: 1px solid #E7EAEC !important;
}

.dashboard-tasks .panel-body-cloud {
    border-top: 3px solid #22BAA0 !important;
    border-bottom: 1px solid #E7EAEC !important;
}

.dashboard-tasks .panel-body-stats {
    border-top: 3px solid #E7EAEC !important;
    border-bottom: 1px solid #E7EAEC !important;
}

/**
 * Toastr custom style
 */

.toast-success {
    background-color: #1ab394;
    opacity: .85 !important;
}

.toast-info {
    background-color: #3498db;
    opacity: .85 !important;
}

.toast-warning {
    opacity: .95 !important;
}

/**
 * Button edit
 */

.btn-edit {
    color: #ffffff;
    background-color: #3498db;
    border: 1px solid transparent;
}

    .btn-edit:hover,
    .btn-edit:focus,
    .btn-edit:active,
    .btn-group.open .btn-edit.dropdown-toggle,
    .btn.btn-edit.active {
        color: #ffffff;
        background-color: #3489db;
        /*border-color: #5dade2;*/
    }

/**
 * Button override
 */

.btn {
    border-radius: 3px;
}

.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 10px 5px;
    margin: 0 0 10px 10px;
    min-width: 120px;
    height: 60px;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    /*background-color: #22BAA0;*/
    font-size: 12px;
}

    .btn-app > .fa,
    .btn-app > .glyphicon,
    .btn-app > .ion {
        font-size: 20px;
        display: block;
        padding-bottom: 5px;
    }

    .btn-app:hover {
        /*background-color: #1DB198;*/
        color: #fff;
        border: 1px solid transparent;
    }

    .btn-app > .badge {
        position: absolute;
        top: -3px;
        right: -10px;
        font-size: 10px;
        font-weight: 400;
    }

/**
 * Panel override
 */

/*.panel {
  border-radius: 3px;
}*/

.panel .panel-title span {
    margin-left: 2px;
}

/**
 * folder-box
 */

.folder-box .icon {
    /*height: 100px;*/
    text-align: center;
    padding: 30px 10px;
}

    .folder-box .icon i {
        font-size: 110px;
        color: #dadada;
    }

.folder {
    border: 1px solid #e7eaec;
    border-radius: 7px;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

    .folder .folder-name {
        padding: 15px;
        background-color: #f8f8f8;
        border-top: 1px solid #e7eaec;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom: 1px solid #e7eaec;
    }

/**
 *  Editable bootstrap
 */
.editable-buttons .btn-primary {
    background-color: #1ab394;
    color: #fff;
    border: 1px solid transparent;
}

/**
 * QUOTE
 */

.quote-num {
    color: #1ab394;
}

.quote-company,
.quote-client,
.quote-project,
.quote-number {
    font-size: 14px;
}

.quote-table {
    margin-top: 10px !important;
}

.quote-table>tbody+tbody {
    border-top: none;
}

.quote-table .totalTTC{
    font-weight: bold;
}

.quote-table > thead > tr > th,
.quote-table > tbody > tr:not(:first-child) > td {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.quote-table > tbody > tr:last-child > td {
    border-top: 1px solid !important;
    border-top-color: #dddddd !important;
}

.quote-table tbody > tr:first-child > td {
    font-size: 14px;
    text-align: center !important;
    background-color: #f1f1f1;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.quote-table tbody > tr > td:nth-child(4),
.quote-table tbody > tr > td:nth-child(3),
.quote-table tbody > tr > td:nth-child(2) {
    text-align: left;
}

.quote-table thead {
    display: table-header-group;
}

.quote-table thead > tr > th:first-child {
    font-size: 14px;
}

.quote-table thead > tr > th:nth-child(4),
.quote-table thead > tr > th:nth-child(3),
.quote-table thead > tr > th:nth-child(2) {
    text-align: right;
    font-size: 14px;
}

.quote-total > tbody > tr > td {
    border: 0 none;
    font-size: medium;
    text-align: right;
}

.quote-total > tbody > tr > td:last-child {
    width: 12%;
}

.quote-total tr:last-child td:nth-child(1) {
    color: red !important;
    text-align: center;
    font-size: 13px;
}

.quote-in-total > td:first-child,
.quote-in-total > td:last-child {
    font-size: 14px;
}

.quote-footer {
    margin-top: 40px;
}

.quote-footer p.disclaimer {
    text-align: center;
    font-size: 13px;
    color: black;
}

/**
 * Config box
 */
.config {
    position: absolute;
    top: 50px;
    right: 0;
    overflow: hidden;
    box-shadow: 39px 0 1px rgba(0,0,0,.4);
    -webkit-box-shadow: 39px 0 1px rgba(0,0,0,.4);
    -moz-box-shadow: 39px 0 1px rgba(0,0,0,.4);
}

.config-box {
    margin-right: -220px;
    position: relative;
    z-index: 2000;
    transition-duration: 0.8s;
}

.config-box-larger {
    margin-right: -280px;
    position: relative;
    z-index: 2000;
    transition-duration: 0.8s;
}

.config-box.show {
    margin-right: 0;
}

.config-box-larger.show {
    margin-right: 0;
}

.spin-icon {
    background: #1ab394;
    position: absolute;
    padding: 7px 10px 7px 13px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 40px;
    color: #fff;
    cursor: pointer;
}

.setttings {
    width: 220px;
    margin-left: 40px;
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,.4);
}

    .setttings .title {
        background: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        padding: 10px 15px;
        font-size: 12px;
    }

    .setttings .divider {
        height: 1px;
        margin: 2px 20px 0 20px;
        background: #E7EAEC;
    }

.settings-item {
    padding: 15px 30px;
}

    .settings-item .toggle {
        float: right;
    }

    .settings-item .input-group-addon {
        color: #fff;
        background: #1ab394;
    }

    .settings-item img {
        display: block;
        /*margin: 0 auto;*/
        margin-left: 60%;
        margin-top: -10%;
        height: 15px;
        width: 15px;
    }

/**
 * Project-detail-metric-carpenty view
 */

.carpenty-table .table-bordered {
    border: 0 !important;
}

    .carpenty-table .table-bordered > thead > tr > th {
        border-bottom: 1px solid #e7eaec;
        border-left: 0;
        border-right: 0;
    }

    .carpenty-table .table-bordered > tbody > tr > th,
    .carpenty-table .table-bordered > tfoot > tr > th,
    .carpenty-table .table-bordered > tbody > tr > td,
    .carpenty-table .table-bordered > tfoot > tr > td {
        border: 0;
    }

.carpenty-table .table > thead > tr > th,
.carpenty-table .table > tbody > tr > th,
.carpenty-table .table > tfoot > tr > th,
.carpenty-table .table > thead > tr > td,
/*.carpenty-table .table > tbody > tr:not(.group) > td,*/
.carpenty-table .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 0.9;
    padding: 8px;
    vertical-align: top;
}

.carpenty-table table .width a,
.carpenty-table table .height a {
    color: #20A790;
    border-bottom: dashed thin;
    text-decoration: none;
    font-weight: bold;
}

.carpenty-table table .Q a {
    color: rgb(217, 78, 78);
    border-bottom: dashed thin;
    text-decoration: none;
    font-weight: bold;
}

/**
* Angular dataTables
*/

.ng-dt .table-striped > tbody > tr:nth-of-type(odd) {
    /*background-color: #fff;*/
}

.ng-dt .table-bordered {
    border: 0 !important;
}

.ng-dt .table-bordered > thead > tr > th,
.ng-dt .table-bordered > tbody > tr > th,
.ng-dt .table-bordered > tfoot > tr > th,
.ng-dt .table-bordered > thead > tr > td,
.ng-dt .table-bordered > tbody > tr > td,
.ng-dt .table-bordered > tfoot > tr > td {
    border: 0;
}

.ng-dt .table > thead > tr > th,
.ng-dt .table > tbody > tr > th,
.ng-dt .table > tfoot > tr > th,
.ng-dt .table > thead > tr > td,
.ng-dt .table > tbody > tr:not(.group) > td,
.ng-dt .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 10px !important;
    vertical-align: top;
}

.ng-dt .table > tbody > tr:first-child > td {
    border-top: 1.5px solid #e7eaec;
}

.ng-dt .dataTables_wrapper .dataTables_paginate .paginate_button,
.ng-dt .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #777 !important;
    border: 1px solid #ebebeb;
    margin: 0;
    border-radius: 0;
}

    .ng-dt .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .ng-dt .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #777 !important;
        border: 1px solid #ebebeb;
        background: #f1f1f1 !important;
    }

.ng-dt tr.group,
.ng-dt tr.group:hover {
    background-color: #d7d8d9 !important;
    text-align: left;
}

.ng-dt tr.group > td {
    color: black !important;
    line-height: 0 !important;
    font-weight: bold;
    font-size: 14px !important;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

.dataTables_filter {
    margin-bottom: 3rem;
}

.dataTables_filter input[type="search"] {
    border-color: rgb(223, 225, 230);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(250, 251, 252);;
    width: 100%;
}

.dataTables_filter input[type="search"]:focus {
    border-color: rgb(76, 154, 255);
    border-width: 2px;
    border-style: solid;
}

/**
* Rate Base view / Third view
*/

.tab-pane .panel {
    box-shadow: none;
}

.tab-pane .panel-default {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.ng-dt .panel-heading {
    height: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 25px !important;
    /*vertical-align: middle;*/
}

.ng-dt .panel-heading .panel-title {
    padding-left: 10px;
}

.ng-dt .panel-default:nth-of-type(2n) .panel-heading {
    background-color: #d7d8d9;
}

.ng-dt .panel-footer {
    background-color: white !important;
}

.ng-dt .panel-footer a {
    font-size: 20px;
    color: #777;
}

.ng-dt-panel-body table thead th:nth-child(0n+1) {
    width: 50%;
}

.ng-dt table .pricePerUnit a,
.ng-dt table .unit a {
    color: #20A790;
    border-bottom: dashed thin;
    text-decoration: none;
    font-weight: bold;
}

.ng-dt table .unit {
    color: #808080;
    font-weight: bold;
}

.ng-dt table .designation a,
.ng-dt table .socialReason a,
.ng-dt table .fullName,
.ng-dt table .phoneNumber,
.ng-dt table .email,
.ng-dt table .modify a,
.ng-dt table .delete a {
    color: #4E5E6A;
    border-bottom: none;
    text-decoration: none;
}

    .ng-dt table .modify a .glyphicon-pencil,
    .ng-dt table .delete a .glyphicon-trash {
        color: #1ab394;
    }

.ng-dt .tools {
    display: block;
    right: 45px;
    position: absolute;
    margin-top: -1.5px;
}

.ng-dt .tools a {
    cursor: pointer;
    color: #777;
}

.ng-dt .tools .dropdown-menu > li > a {
    padding: 4px 5px 7px 10px !important;
    font-size: 12px;
    color: #777;
}

.ng-dt .tools .dropdown-menu > li > a:hover {
    color: #414649;
}

.ng-dt .tools.open > .dropdown-menu {
    left: auto;
    right: 0px;
    top: auto;
    border: 1px solid #c4c4c4 !important;
}

.ng-dt .editableform {
    margin-bottom: 0;
    margin-top: -6px;
}

.ng-dt .editable-buttons button {
    height: 27px;
}

.btn-edit.link-inactive {
    color: #333;
    background-color: transparent;
}

a.btn-edit.link-inactive:hover {
    background-color: #f7f7f7;
}

/**
*  Modal
*/
.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/**
*
*/

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.input-lg {
    height: 45px;
    border-radius: 3.01px;
    font-size: 14px;
}

input-lg:focus {
    border: 1px solid #22BAA0;
}

/**
* Custom
*/
.custom {
    color: #0d6883 !important;
    border-bottom: none !important;
}

/**
* Popover
*/
.custom-popover .popover {
    font-size: small;
    background-color: #343434;
    color: white;
    border-radius: 6px;
    max-width: 200px
}

    .custom-popover .popover.right > .arrow:after {
        border-right-color: #343434;
    }

    .custom-popover .popover.left > .arrow:after {
        border-left-color: #343434;
    }

    .custom-popover .popover.bottom > .arrow:after {
        border-bottom-color: #343434;
    }

/**
* Back to top button 
*/
#back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 70px;
}

    #back-top a {
        width: 108px;
        display: block;
        text-align: center;
        font: 50px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #20A790;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }

/**
* ui-select-bootstrap
*/
.ui-select-bootstrap .ui-select-choices-row > span {
    color: #555 !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
    background-color: #22BAA0;
    color: #fff !important;
}

.ui-select-bootstrap > .ui-select-match > .btn {
    color: #555 !important;
}

    .ui-select-bootstrap > .ui-select-match > .btn:hover {
        border: 1px solid #22BAA0;
    }

.ui-select-bootstrap > .btn-default-focus {
    background-color: none !important;
    border-radius: 3px !important;
    outline: none !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

.ui-select-bootstrap .ui-select-placeholder {
    color: #999 !important;
}

.ui-select-bootstrap .ui-select-match-text span {
    overflow: unset !important;
}

.ui-select-bootstrap > .ui-select-choices {
    margin-top: 1px !important;
}

    .ui-select-bootstrap > .ui-select-choices[style*="absolute"] {
        top: -201px !important;
    }

/*Register page*/
#register .ui-select-bootstrap .ui-select-choices-row > span {
    font-size: 14px;
}

#register .ui-select-bootstrap > .ui-select-match > .btn {
    font-size: 14px;
    height: 43px;
    line-height: 2.1;
}

#register .ui-select-bootstrap input[type=search] {
    height: 43px;
    border-radius: 3px;
    font-size: 14px;
}
/**
* loader
*/
.loader-md {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader-sm {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**
*   Loading text
*/
.loading-text-lg {
    font-weight: 200;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.loading-text-md {
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.btn-addon:disabled i {
    background: none;
}

.videogular-container {
    width: 50%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}

/**
* Search bar
*/
.input-group input[type="search"] {
    border-color: rgb(223, 225, 230);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(250, 251, 252);
    border-radius: 3px!important;
}

.input-group input[type="search"]:focus {
    border-color: rgb(76, 154, 255);
    border-width: 2px;
    border-style: solid;
}