﻿
<style>
    .middle-box {
        max-width: 400px;
        z-index: 100;
        margin: 0 auto;
        padding-top: 40px;
    }

    .middle-box h1 {
        font-size: 170px;
        font-weight: 100;
    }

    .middle-box h3 {
        font-size: 16px;
        font-weight: 100;
    }

    .page-inner {
        background-color: #f3f3f4;
        height: 100vh;
        margin-top: 0;
        margin-left: 0!important;
    }

</style>

<main class="page-content" >
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="middle-box text-center animated fadeInDown">
                <span class="logo-name"><img class="optimoc-logo img-responsive" src="/../images/logo-optimoc.png"></span>
                <h1>401</h1>
                <h3 class="font-bold">Unauthorized</h3>

                <div>
                    Sorry, but you are not authorized to access to this page.
                    <br/>
                    <a ui-sref="app.dashboard">Back to Dashboard</a>
                </div>
            </div>
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->