﻿<main class="page-content">
    <div class="page-inner" style="height: 100vh; margin-top: 0;">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="login-box">
                        <span class="logo-name"><img class="optimoc-logo img-responsive" ng-src="{{optimocLogoSrc}}"></span>
                        <br />
                        <div>
                            <h2>
                                {{h2}}
                            </h2>
                            <br />
                            <span ng-if="hasError" style="color:#a94442;font-size:14px;">
                                {{message}}
                            </span>
                            <span ng-if="!hasError" style="font-size:14px;">
                                {{message}}
                            </span>
                        </div>
                        <br />
                        <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->