
<link href="scripts/vendor/json-formatter.min.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="jumbotron">
        <h1>Test interface</h1>

        <p>Total progression :
                    <div id="totalProgression" class="progress"></div>
        <button type="button" class="btn btn-lg btn-danger" ng-click="runAllTest()">Run All</button>
        <div class="form-group">
            <label for="testLog">Test log:</label>
            <textarea class="form-control" rows="5" id="testLog"></textarea>
        </div>
        </p>
        <hr>
        <div class="form-group" style="height: 350px; overflow: auto">
            <label for="requestResp">Response For : {{request.name}}</label></label>
            <json-formatter id="requestResp" json="request.jsonData" open="6"></json-formatter>

        </div>
        <hr>
        <p>SYSTEM API : </p>
        <button type="button" class="btn btn-lg btn-danger" ng-click="runCleanDatabase()">Clean Database</button>
        <button type="button" class="btn btn-lg btn-success" ng-click="runBackupDatabase()">Backup Database</button>
        <button type="button" class="btn btn-lg btn-warning" ng-click="runDisplayDatabase()">Display Database</button>
        <p>Users API : </p>
        <button type="button" class="btn btn-lg btn-info" ng-click="runCreateDemoAccount()">Create Demo Account</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runCreateAdminAccount()">Create Admin Account</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runGetDemoAccount()">Get Demo Account (logIn)</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runEditDemoAccount()">Edit Demo Account</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runDeleteDemoAccount()">Delete Demo Account</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runDeleteAccounts()">Delete Accounts</button>
        <p>Project API : </p>
        <button type="button" class="btn btn-lg btn-info" ng-click="runCreateProject()">Create Project</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runGetProjects()">Get Projects Info</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runGetProject()">Get Project N°1 Info</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runEditProject()">Edit Project N°1</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runDeleteProject()">Delete Project N°1</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runDeleteProject2()">Delete Project N°2</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="runDeleteProjects()">Delete Projects</button>
        <p>Metric API :</p>

    </div>
</div>