﻿<main class="page-content">
    <div id="forgotPassword" class="page-inner" style="height: 100vh; margin-top: 0; margin-left: 0!important;">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="login-box">
                        <span class="logo-name"><img class="optimoc-logo img-responsive" ng-src="{{optimocLogoSrc}}"></span>
                        <span style="font-size: 22px; color: #009999;">Mot de passe oublié ?</span>
                        <form class="m-t-md" ng-submit="forgotPassword()" name="form" role="form">
                            <div class="form-group">
                                <input name="email" type="email" class="form-control input-lg" ua-is-email ng-model="email" placeholder="Email (obligatoire)" title=""
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="invalidEmailMsg(this);" oninput="invalidEmailMsg(this);" required>
                            </div>
                            <button id="btnSubmit" type="submit" class="btn btn-success btn-block" style="height: 40px; font-size: 14px;">Envoyer</button>
                            <a href="/login" class="display-block text-center m-t-md" style="font-size: 14px;">Retour à la page connexion</a>
                            <div class="display-block text-center m-t-md" style="font-size: 14px;">
                                Pas encore membre ? <a href="/register">Cliquez-ici</a> pour vous inscrire
                            </div>
                        </form>
                        <br />
                        <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->