<main class="page-content" >
    <div class="page-inner" style="height: 100vh; margin-top: 0; margin-left: 0!important;">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="login-box">
                        <span class="logo-name"><img class="optimoc-logo img-responsive" ng-src="{{optimocLogoSrc}}"></span>
                        <!--<p class="text-center m-t-md">Connectez vous à votre compte.</p>-->
                        <form class="m-t-md" ng-submit="login()">
                            <div class="form-group">
                                <input name="email" type="email" ng-model="log.email" class="form-control input-lg" placeholder="Email" oninvalid="invalidEmailMsg(this);" oninput="invalidEmailMsg(this);" required>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control input-lg" ng-model="log.password" placeholder="Mot de passe" oninvalid="invalidRequiredMsg(this);" oninput="invalidEmailMsg(this);" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block" style="height: 40px; font-size: 14px;" >Connexion</button>
                            
                            <div class="alert alert-danger" role="alert" ng-show="log.errors.badLogin">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                Mauvais identifiants, ou compte inexistant. Êtes vous inscrit ?
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="log.errors.badPassword">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                Mot de passe incorrect.
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="log.errors.disconnectedServer">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                Le Serveur à refusé votre demande. Celui-ci est peut-être en maintenance. Veuillez réessayer dans quelques instants.
                            </div>

                            <div class="display-block text-center m-t-md" style="font-size: 14px;">
                                Pas encore membre ? <a href="/register">Cliquez-ici</a> pour vous inscrire
                            </div>

                            <a href="/forgotPassword" class="display-block text-center m-t-md" style="font-size: 14px;">Mot de passe oublié ?</a>

                            <!--<p class="text-center m-t-xs text-sm">Vous n'avez pas de compte?</p>
                            <a href="/register" class="btn btn-default btn-block m-t-md">Créer un compte</a>-->
                        </form>
                        <br />
                        <!--<p class="text-center m-t-xs text-sm">2015 &copy; <img src="images/ico/favicon-16x16.png">ptimoc</p>-->
                        <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->
