<main class="page-content" style="background-color: white">
    <div class="page-inner" style="height: 100vh; margin-top: 0; margin-left: 0!important;">
        <span style="font-size: 16px;">Veuillez patienter...</span>
    </div>
</main><!-- Page Content -->