<main class="page-content">
    <div id="register" class="page-inner" style="min-height: 1080px !important;margin-top: 0; margin-left: 0!important;">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-4 center">
                    <div class="login-box">
                        <a href="/" class="logo-name text-lg text-center"><img class="optimoc-logo img-responsive" ng-src="{{optimocLogoSrc}}"></a>
                        <span class="display-block text-center m-t-lg" style="font-size: 22px;color:#009999;">Inscription</span>
                        <form class="m-t-md" ng-submit="register()" name="form" role="form">
                            <div class="form-group">
                                <input name="firstname" type="text" class="form-control input-lg" ng-model="reg.firstname" placeholder="Prénom" title=""
                                       oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);" required autofocus>
                            </div>
                            <div class="form-group">
                                <input name="lastname" type="text" class="form-control input-lg" ng-model="reg.lastname" placeholder="Nom" title=""
                                       oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);" required>
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control input-lg" ua-is-email ng-model="reg.email" placeholder="Email (identifiant)" title=""
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="invalidEmailMsg(this);" oninput="invalidEmailMsg(this);" required>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control input-lg" ng-model="reg.password" placeholder="Mot de passe" title="" minlength="8"
                                       oninvalid="invalidPwdMsg(this);" oninput="invalidPwdMsg(this);" required>
                            </div>
                            <div class="form-group">
                                <input name="confirmPassword" type="password" class="form-control input-lg" ng-model="reg.confirmPassword" placeholder="Confirmer le mot de passe" title="" minlength="8"
                                       oninvalid="invalidPwdMsg(this);" oninput="invalidPwdMsg(this);" required>
                            </div>
                            <div class="form-group">
                                <ui-select ng-model="reg.role" name="role" on-select="onSelect($item, $model)">
                                    <ui-select-match placeholder="Corps de métier">{{$select.selected.roleName}}</ui-select-match>
                                    <ui-select-choices repeat="role.roleName as role in reg.roles track by role.roleID">
                                        {{ role.roleName }}
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="reg.errors.roleMissing">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                Le corps de métier est obligatoire
                            </div>

                            <div class="display-block" style="font-size: 14px;">
                                <input type="checkbox" ng-model="reg.agreeTerms"> J'accepte les termes et conditions d'utilisations
                            </div>
                            <br />

                            <div class="alert alert-danger" role="alert" ng-show="reg.errors.agreeTerms">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                L'inscription est impossible sans votre acceptation des termes et conditions d'utilisations.
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="reg.errors.passwordsNotMatch">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                Les mots de passe ne correspondent pas.
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="reg.errors.alreadyExist">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                L'inscription est impossible car un compte existe déjà avec cet adresse email.
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="reg.errors.creationFailed">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Erreur:</span>
                                L'inscription a échoué. Si le problème persiste, veuillez contacter le support.
                            </div>

                            <button id="btnSubmit" type="submit" class="btn btn-success btn-block" style="height: 40px; font-size: 14px;">Créer le compte</button>
                            <a href="/login" class="display-block text-center m-t-md" style="font-size: 14px;">Retour à la page connexion</a>
                        </form>
                        <br />
                        <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->

<!--<script>

    $("select[name='role']").change(function () {

        if ($(this).val() == "")
            $(this).addClass("empty");
        else
            $(this).removeClass("empty")
    });

    $("select[name='role']").change();
   
</script>-->