﻿<main class="page-content">
    <div id="forgotPassword" class="page-inner" style="height: 100vh; margin-top: 0; margin-left: 0!important;">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="login-box">
                        <span class="logo-name"><img class="optimoc-logo img-responsive" ng-src="{{optimocLogoSrc}}"></span>
                        <div style="font-size: 22px; color: #009999;">Modifier mon mot de passe</div>
                        <!-- <br/> -->
                        <!-- <div style="text-align: justify;">Si vous ne souhaitez plus modifier votre mot de passe, il vous suffit de ne rien faire.</div> -->
                        <form class="m-t-md" ng-submit="resetPassword()" name="form" role="form">
                            <div class="form-group">
                                <div class="form-group">
                                    <input name="newPassword" type="password" class="form-control input-lg" ng-model="newPassword" placeholder="Nouveau mot de passe" title="" minlength="8"
                                           oninvalid="invalidPwdMsg(this);" oninput="invalidPwdMsg(this);" required>
                                </div>
                                <div class="form-group">
                                    <input name="confirmPassword" type="password" class="form-control input-lg" ng-model="confirmPassword" placeholder="Confirmer le mot de passe" title="" minlength="8"
                                           oninvalid="invalidPwdMsg(this);" oninput="invalidPwdMsg(this);" required>
                                </div>

                                <div class="alert alert-danger" role="alert" ng-show="errors.passwordsNotMatch">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Erreur:</span>
                                    Les mots de passe ne correspondent pas.
                                </div>
                            </div>
                            <button id="btnSubmit" type="submit" class="btn btn-success btn-block" style="height: 40px; font-size: 14px;">Confirmer</button>
                            <a href="/login" class="display-block text-center m-t-md" style="font-size: 14px;">Retour à la page connexion</a>
                            <div class="display-block text-center m-t-md" style="font-size: 14px;">
                                Pas encore membre ? <a href="/register">Cliquez-ici</a> pour vous inscrire
                            </div>
                        </form>
                        <br />
                        <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->