<div id="footer" class="page-footer">
    <!--<p class="text-muted"><strong>Copyright</strong> Optimoc © 2015</p>-->
    <p class="text-center m-t-xs text-sm"><strong>Copyright</strong> &copy; {{year}} <img src="/images/ico/favicon-16x16.png">ptimoc</p>
</div>
