<div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">
        <div class="sidebar-header">
            <div class="sidebar-profile">
                <!--<a ui-sref="app.account" id="profile-menu-link">-->
                <div class="sidebar-profile-image">
                    <!--<img check-avatar ng-src="{{ user.avatar }}" class=" img-circle img-responsive" alt="">-->
                    <img ng-src="{{ user.avatar }}" class="img-circle img-responsive" alt="">
                </div>
                <div>
                    <span>
                        {{user.firstName}} {{user.lastName}}
                    </span>
                </div>
                <!--</a>-->
            </div>
        </div>
        <ul class="menu accordion-menu">

            <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard fa-3x"></i><p>Tableau de bord</p></a></li>
            <li><a ui-sref="app.project"><i class="fa fa-folder fa-3x"></i><p>Projets</p></a></li>
            <li><a ui-sref="app.third"><i class="fa fa-users fa-3x"></i><p>Tiers</p></a></li>
            <li><a ui-sref="app.rate-base"><i class="fa fa-eur fa-3x"></i><p>Base tarifaire</p></a></li>
            <li><a ui-sref="app.help"><i class="fa fa-question-circle fa-3x"></i><p>Aide</p></a></li>
            <li ng-show="user.isAdmin"><a ui-sref="app.admin"><i class="fa fa-lock fa-3x"></i><p>Admin</p></a></li>
            <!--<li><a ui-sref="{{1!=1 ? 'app.agenda' : '.'}}" class="disabled"><i class="fa fa-calendar fa-3x"></i><p>Agenda</p></a></li>
            <li><a ui-sref="{{1!=1 ? 'app.tiers' : '.'}}" class="disabled"><i class="fa fa-envelope-o fa-3x"></i><p>Messagerie</p></a></li>
            <li><a ui-sref="{{1!=1 ? 'app.cloud' : '.'}}" class="disabled"><i class="fa fa-cloud fa-3x"></i><p>Cloud</p></a></li>-->
        </ul>
    </div>

</div>