<header>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <a ui-sref="app.dashboard" class="logo-box">
            <div class="logo-text">
                <img src="/images/logo-optimoc.png" width="125px" height="41px">BETA
            </div>
        </a>
        
        <ul class="nav navbar-nav navbar-left">
            <li>
                <button href="javascript:void(0);" class="btn btn-success sidebar-toggle">
                    <i class="fa fa-angle-left"></i>
                </button>
            </li>
            <!--<li>
                <a href="javascript:void(0);" class="btn waves-effect waves-button waves-classic toggle-fullscreen">
                    <i class="fa fa-expand"></i>
                </a>
            </li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a ui-sref="{{1!=1 ? 'app.tiers' : '.'}}" class="disabled"><i class="fa fa-envelope"></i><span style="right: 1px;" class="badge badge-success pull-right">0</span></a>
            </li>

            <li class="dropdown">
                <a><i class="fa fa-bell"></i><span style="right: 3px;" class="badge badge-success pull-right">0</span></a>
            </li>

            <li class="dropdown user-menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="{{ user.avatar }}" class="user-image" alt="">
                    <!-- <span class="hidden-xs">{{ user.firstName + " " + user.lastName}}</span> -->
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="user-header" role="presentation">
                        <img ng-src="{{ user.avatar }}" class="img-circle" alt="User Image">
                        <p>
                            <span class="text-capitalize"> {{ user.firstName + " " + user.lastName}} - {{user.role | lowercase}} </span>
                            <small>Membre depuis le {{ user.registerDate | date:"dd MMMM yyyy" : "UTC" }}</small>
                        </p>
                    </li>
                    <li class="user-footer" role="presentation">
                        <div class="pull-left">
                            <a ui-sref="app.account" class="btn btn-default btn-flat">
                                <span><i class="fa fa-user m-r-xs"></i>Mon compte</span>
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="/logout" class="btn btn-default btn-flat">
                                <span><i class="fa fa-sign-out m-r-xs"></i>Déconnexion</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<script>

    // Fullscreen
    function toggleFullScreen() {
        if ((document.fullScreenElement && document.fullScreenElement !== null) ||
                (!document.mozFullScreen && !document.webkitIsFullScreen)) {
            if (document.documentElement.requestFullScreen) {
                document.documentElement.requestFullScreen();
            } else if (document.documentElement.mozRequestFullScreen) {
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullScreen) {
                document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
    }

    $('.toggle-fullscreen').click(function () {
        toggleFullScreen();
    });
    
    $(".sidebar-toggle").click(function (e) {
        e.preventDefault();

        $(".sidebar").toggleClass("sidebar-toggled");
        $(".page-footer").toggleClass("page-footer-toggled");

        if ($(".sidebar").hasClass("sidebar-toggled"))
            $(".sidebar-toggle i").removeClass("fa-angle-left").addClass("fa-angle-right");
        else
            $(".sidebar-toggle i").removeClass("fa-angle-right").addClass("fa-angle-left");
    });

</script>
