<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-folder"></i>&nbsp; Création d'un projet</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok();">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="projectDescription"><strong>Type du projet&nbsp;:&nbsp;</strong></label>
                    <input name="projectType" value="NEUF" type="radio" ng-model="createProjectFormData.projectType" required>&nbsp; Neuf
                    &nbsp;
                    <input name="projectType" value="RENOVATION" type="radio" ng-model="createProjectFormData.projectType">&nbsp; Rénovation
                    &nbsp;
                    <input name="projectType" value="VIERGE" type="radio" ng-model="createProjectFormData.projectType">&nbsp; Vierge
                </div>
                <div class="form-group">
                    <label for="projectName"><strong>Nom du projet</strong></label>
                    <input type="text" class="form-control" id="projectName" placeholder="Nom du projet (20 caractères maximum)"
                        ng-model="createProjectFormData.projectName" maxlength="20" oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription"><strong>Description du projet</strong></label>
                    <input type="text" class="form-control" id="projectDescription" placeholder="Description du project (60 caractères maximum)"
                        ng-model="createProjectFormData.projectDescription" rows="2" maxlength="60">
                </div>
                <div class="alert alert-danger" role="alert" ng-show="errors.alreadyExist">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur:</span>
                    La création du projet a échoué car un projet existe déjà avec ce nom.
                </div>
            </div>
            <div class="col-md-12">
                <div style="float: right;">
                    <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                        Enregistrer
                        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                    </button>
                    <button type="button" class="btn btn-cancel" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                </div>
            </div>
        </form>

    </div>
</div>