﻿<div class="modal-header">
    <h3 class="modal-title">
        <i class="fa fa-address-book"></i>
        <span>&nbsp;Choix du client à affecter au projet</span>
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok()">
            
            <div class="col-md-12">
                
                <div class="form-group">
                    <label for="search">Type de recherche</label>
                    
                    <ui-select ng-model="searchBy.selected">
                        <ui-select-match placeholder="Rechercher par">{{$select.selected.searchName}}</ui-select-match>
                        <ui-select-choices repeat="search.searchID as search in searchBy track by search.searchID">
                            {{ search.searchName }}
                        </ui-select-choices>
                    </ui-select>

                </div>
                
                <div ng-show="searchBy.selected==1" class="form-group">

                    <ui-select ng-model="customers.selected">
                        <ui-select-match placeholder="Recherche par raison sociale">{{$select.selected.socialReason}}</ui-select-match>
                        <ui-select-choices repeat="customer in customers | filter : {socialReason : '!! '} | filter: $select.search">
                            <div ng-bind-html="customer.socialReason | highlight: $select.search"></div>
                            <small ng-bind-html="customer.email | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                </div>
                
                <div ng-show="searchBy.selected==2" class="form-group">

                    <!--<label for="customer">Nom du client</label>
                    <input type="text" class="form-control input-lg" ng-model="customer" placeholder="Recherche par nom"
                           uib-typeahead="c as c.name for c in customers | filter: { name : $viewValue }">-->

                    <ui-select ng-model="customers.selected">
                        <ui-select-match placeholder="Recherche par nom">{{$select.selected.lastName + ' ' + $select.selected.firstName}}</ui-select-match>
                        <ui-select-choices repeat="customer in customers | filter: $select.search">
                            <div ng-bind-html="customer.lastName + ' ' + customer.firstName | highlight: $select.search"></div>
                            <small ng-bind-html="customer.email | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>


                </div>
            </div>
            <div class="col-md-12">
                <div style="text-align: right;">
                    <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                        Enregistrer
                        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                    </button>
                    <button class="btn btn-cancel" type="button" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>