<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash"></i>&nbsp; Duplication du projet : {{projectName}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok();">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="projectName">Nom du projet</label>
                    <input type="text" class="form-control" id="projectName" placeholder="Nom du projet (20 caract&egrave;res maximum)" ng-model="createProjectFormData.projectName" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">Description</label>
                    <input type="text" class="form-control" id="projectDescription" placeholder="Description du project (60 caract&egrave;res maximum)" ng-model="createProjectFormData.projectDescription"
                           rows="2" maxlength="60">
                </div>
                <div class="alert alert-danger" role="alert" ng-show="errors.alreadyExist">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur:</span>
                    La duplication du projet a &eacute;chou&eacute; car un projet existe d&eacute;j&agrave; avec ce nom.
                </div>

                <div class="col-md-12">

                    <div style="float: right;">
                        <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                            Enregistrer
                            <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                        </button>
                        <button type="button" class="btn btn-cancel" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>