<div class="modal-header">
    <h3 class="modal-title">
        <i class="fa fa-asterisk"></i>
        &nbsp;Modifier les mentions l&eacute;gales
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok()">

            <div class="col-md-12">
                <div class="form-group" contenteditable="true" style="border:1px solid #ced4da; padding:10px; border-radius: .25rem;" ng-bind-html="disclaimerText" id="disclaimerText">
                </div>
            </div>

            <div class="col-md-12">
                <div style="float: right;">
                    <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                        Enregistrer
                        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                    </button>
                    <button type="button" class="btn btn-cancel" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>