<div class="modal-header">
    <h3 class="modal-title">
        <i class="fa fa-folder"></i>
        &nbsp;Modifier le projet
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok()">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="projectName">Nom du projet</label>
                    <input type="text" class="form-control" id="projectName" placeholder="Nom du projet (20 caract&egrave;res maximum)" ng-model="projectName"
                           oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);" value="{{projectName}}" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">Description du projet</label>
                    <input type="text" class="form-control" id="projectDescription" placeholder="Description du project (60 caract&egrave;res maximum)" ng-model="projectDescription"
                           value="{{projectDescription}}" maxlength="60">
                </div>

                <div class="form-group">
                    <label for="projectStatus" style="font-size:14px; font-weight:700!important;">Statut du projet</label>
                    <ui-select ng-model="projectStatus.selected">
                        <ui-select-match placeholder="S&eacute;lectionner">{{$select.selected.replace('_', ' ')}}</ui-select-match>
                        <ui-select-choices repeat="status in projectStatus">
                            {{ status.replace('_', ' ')}}
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="errors.alreadyExist">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erreur:</span>
                    La modification du projet a &eacute;chou&eacute; car un projet existe d&eacute;j&agrave; avec ce nom.
                </div>
            </div>

            <div class="col-md-12">

                <!--<div class="loader-sm" ng-show="showSpinner" style="margin-bottom:-25px; margin-left:350px;">
                </div>-->

                <div style="float: right;">
                    <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                        Enregistrer
                        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                    </button>
                    <button type="button" class="btn btn-cancel" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>