﻿<div class="modal-header">
    <h3 class="modal-title"><span ng-show="action=='ARCHIVE'"><i class="fa fa-archive"></i>&nbsp;Archivage</span><span ng-show="action=='UNARCHIVE'"><i class="fa fa-upload"></i>&nbsp;Désarchivage</span> de projet</h3>
</div>
<div class="modal-body">
    &Ecirc;tes-vous s&ucirc;r de vouloir <span ng-show="action=='ARCHIVE'">archiver</span><span ng-show="action=='UNARCHIVE'">désarchiver</span> le projet : <b> {{projectName}} </b> ?
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="disableAll">
        OK
        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
    </button>
    <button class="btn btn-cancel" type="button" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
</div>