﻿<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash"></i>&nbsp; Suppression de client</h3>
</div>
<div class="modal-body">
    &Ecirc;tes-vous s&ucirc;r de vouloir supprimer la fiche client : <b> {{customerName}} </b> ?
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="disableAll">
        OK
        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
    </button>
    <button class="btn btn-cancel" type="button" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
</div>