<div class="modal-header">
    <h3 class="modal-title">
        <i class="fa fa-address-card"></i>
        <span ng-show="action == 'ADD'">&nbsp;Nouvelle fiche client</span>
        <span ng-show="action == 'UPD'">&nbsp;Modifier la fiche client</span>
        <span ng-show="showLoading" class="loading-text-md text-center">&nbsp;&nbsp;Chargement...</span>
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <form ng-submit="ok()">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="socialReason">Raison sociale</label>
                    <input name="socialReason" type="text" class="form-control input-rounded" placeholder="Raison sociale"
                           ng-model="customer.socialReason" maxlength="60" empty-input autofocus>
                </div>
                <div class="form-group">
                    <label for="title">Civilit&eacute;</label>

                    <ui-select ng-model="customer.title">
                        <ui-select-match placeholder="Choisir une Civilit&eacute;" class=".btn-md">{{$select.selected.titleName}}</ui-select-match>
                        <ui-select-choices repeat="title.titleName as title in titles track by title.titleID">
                            {{ title.titleName }}
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group">
                    <label class="required" for="lastName">Nom</label>
                    <input name="lastName" type="text" class="form-control input-rounded" placeholder="Nom du client"
                           ng-model="customer.lastName" oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);"
                           maxlength="60" required>
                </div>
                <div class="form-group">
                    <label class="required" for="firstName">Pr&eacute;nom</label>
                    <input name="firstName" type="text" class="form-control input-rounded" placeholder="Pr&eacute;nom du client"
                           ng-model="customer.firstName" oninvalid="invalidRequiredMsg(this);" oninput="invalidRequiredMsg(this);"
                           maxlength="60" required>
                </div>
                <div class="form-group">
                    <label class="required" for="email">E-mail</label>
                    <input name="email" type="email" class="form-control input-rounded" placeholder="E-mail du client"
                           ng-model="customer.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           oninvalid="invalidEmailMsg(this);" oninput="invalidEmailMsg(this);" maxlength="60" required>
                </div>
                <div class="form-group">
                    <label class="required" for="phonenumber">T&eacute;l&eacute;phone</label>
                    <input name="phonenumber" type="tel" class="form-control input-rounded" placeholder="Num&eacute;ro de t&eacute;l&eacute;phone"
                           ng-model="customer.phoneNumber" pattern="^0[1-678]([-. ]?[0-9]{2}){4}$"
                           oninvalid="invalidPhoneNumberMsg(this);" oninput="invalidPhoneNumberMsg(this);" required>
                </div>
                <div class="form-group">
                    <label for="street">Rue</label>
                    <input name="street" type="text" class="form-control input-rounded" placeholder="Num&eacute;ro et nom de rue"  uib-typeahead="address for address in getLocation($viewValue)"
                           typeahead-on-select="onSelect($item, $model, $label)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-model="customer.address.street" maxlength="60" empty-input>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i>Pas de r&eacute;sultats
                    </div>
                </div>
                <div class="form-group">
                    <label for="additional">Compl&eacute;ment d'adresse</label>
                    <input name="additional" type="text" class="form-control input-rounded" placeholder="Compl&eacute;ment d'adresse"
                           ng-model="customer.address.additional" maxlength="60" empty-input>
                </div>
                <div class="form-group">
                    <label for="zip">Code postal</label>
                    <input name="zip" type="text" class="form-control input-rounded" placeholder="Code postal"
                           ng-model="customer.address.zip" maxlength="60" empty-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">Ville</label>
                    <input name="city" type="text" class="form-control input-rounded" placeholder="Ville"
                           ng-model="customer.address.city" maxlength="60" empty-input>
                </div>
                <div class="form-group">
                    <label for="country">Pays</label>
                    <input name="country" type="text" class="form-control input-rounded" placeholder="Pays"
                           ng-model="customer.address.country" maxlength="60" empty-input>
                </div>
                <div class="form-group">
                    <label for="state">Etat</label>
                    <input name="state" type="text" class="form-control input-rounded" placeholder="Etat"
                           ng-model="customer.address.state" maxlength="60" empty-input>
                </div>
                <div class="form-group">
                    <label for="activity">Activit&eacute;</label>
                    <input name="activity" type="text" class="form-control input-rounded" placeholder="Activit&eacute;"
                           ng-model="customer.activity" maxlength="30" empty-input>
                </div>
                <div class="form-group">
                    <label for="siret">Siret</label>
                    <input name="siret" type="number" class="form-control input-rounded" placeholder="Num&eacute;ro SIRET"
                           ng-model="customer.identificationNumbers.siret" maxlength="14" empty-input>
                </div>
                <div class="form-group">
                    <label for="ape">APE</label>
                    <input name="ape" type="text" class="form-control input-rounded" placeholder="Code APE"
                           ng-model="customer.identificationNumbers.ape" maxlength="5" empty-input>
                </div>
                <div class="form-group">
                    <label for="tva">TVA Intra.</label>
                    <input name="tva" type="text" class="form-control input-rounded" placeholder="TVA Intracommunautaire"
                           ng-model="customer.identificationNumbers.tva" empty-input>
                </div>
                <div class="form-group">
                    <label for="status">Statut</label>
                    <ui-select ng-model="customer.status">
                        <ui-select-match placeholder="Choisir un statut" class=".btn-md">{{$select.selected.statusName}}</ui-select-match>
                        <ui-select-choices repeat="status.statusName as status in status track by status.statusID">
                            {{ status.statusName }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-12">
                <div style="text-align: right;">
                    <button id="ok" type="submit" class="btn btn-success" ng-disabled="disableAll">
                        Enregistrer
                        <i ng-class="{'fa fa-refresh fa-spin' : showSpinner}"></i>
                    </button>
                    <button class="btn btn-cancel" type="button" ng-click="cancel()" ng-disabled="disableAll">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>