<div class="modal-header text-center">
    <img src="/images/ico/ms-icon-144x144.png">
</div>
<div class="modal-body text-center">
    <h2 class="modal-title">Création de votre compte</h2>
    <b>
        <br />
        Votre compte vient d'&ecirc;tre cr&eacute;&eacute;.
        <br />
        Un e-mail de confirmation vous a &eacute;t&eacute; envoy&eacute;.
    </b>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">Fermer</button>
</div>

<style>
       /**
    * Modal
    */
       .modal-header {
           height: 160px;
       }

       .modal-dialog {
           height: 600px !important;
           width: 600px !important;
       }
</style>